

//------------달력 scss----------------------------
.calendar-day {
  display: inline-block;
  vertical-align: bottom;
  width: calc(100% / 7);
  height: 7vh;
  box-sizing: border-box;
  background-color: #fcfcfd;;
  min-height: 48px;
  padding: 1vw;
}

.calendar-padding-backColor {
  background-color: #fcfcfd;;
}

.calendar-day-text {
  font-family: Roboto;
  font-size: 3.5vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
}

.calendar-box {
  height: 100%;
  width: 100%;
}

.calendar-week {
  display: inline-block;
  vertical-align: bottom;
  width: calc(100% / 7);
  height: 7vh;
  min-height: 44px;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.calendar-week-text {
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #a3a6b4;
  vertical-align: middle;
}

.calendar-week-text-sun {
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #28a1ae;
  vertical-align: middle;
}

.calendar-selectBox {
  width: 100%;
  height: 6vh;
  min-height: 50px;
  align-items: center;
  display: grid;
}

.calendar-padding {
  padding-left: 4vw;
  padding-right: 4vw;
}

.calendar-week-border {
  border: solid 0.5px #dcdcdc;
}

.date-text {
  font-family: Roboto;
  font-size: 4.5vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: -0.95px;
  text-align: left;
  color: #333333;
}

.select-date {
  vertical-align: middle;
  align-items: center;
  display: inline-flex;
  width: 100%;
}

.select-date-left {
  width: 25%;
  text-align: left;
  padding-left: 4vw;
}

.select-date-center {
  text-align: center;
  width: 50%;
}

.select-date-right {
  width: 25%;
  text-align: right;
  padding-right: 4vw;
}

.calendar-point {
  background-color: #64a2ff;
  width: 5px;
  height: 5px;
  border-radius: 75px;
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  vertical-align: middle;
  line-height: 150px;
}

.select-day {
  border: solid 1px #44bbc8;
  background-color: #effdff;
}

.is-today {
  border: solid 1px #e8e9ec;
  background-color: #fafafa;
}

.visit-point1 {
  width: 5.3px;
  height: 5.2px;
  background-color: #629ff2;
  border-radius: 50%;
  margin-left: 40%;
}

.visit-point2 {
  width: 5.3px;
  height: 5.2px;
  background-color: #5fdd78;
  border-radius: 50%;
  margin-right: 40%;
}

.visit-point-null {
  height: 5.2px;
}

.visit-point-box {
  text-align: -webkit-center;
  float: left;
  width: 50%;
}

.datepicker-notice {
  padding-top: 9px;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
}

//------------달력 scss 종료----------------------------


//-----다이어리------------------------------------
.calendar-header {
  width: 100%;
  height: 7vh;
  padding: 0px 3vw 0px;
  background-color: #3a4b5f;
  align-items: center;
  display: flex;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: -0.51px;
  color: #ffffff;
}

.diary-date-box1 {
  width: 100%;
  height: 7vh;
  background-color: #44bbc8;
  align-items: center;
  display: inline-flex;
  font-family: Roboto;
  font-size: 2.5vh;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.58px;
  text-align: left;
  color: #ffffff;
}

.diary-date-box2 {
  width: 100%;
  height: 7vh;
  background-color: #28a1ae;
  align-items: center;
  display: grid;
  text-align: -webkit-center;
}




.diary-item {
  width: 100%;
  min-height: 80px;
  border: solid 1px #d2d5dc;
  background-color: #ffffff;
  height: 10vh;
  align-items: center;
  display: grid;
}

.diary-item-feel {
  font-family: Roboto;
  font-size: 2.5vh;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.58px;
  text-align: left;
  color: #3a4b5f;
}

.feelImg {
  height: 5vh;
}



.diary-item-date {
  font-family: Roboto;
  font-size: 2.3vh;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.47px;
  text-align: left;
  color: #7e8da0;
}

.diary-detail-box {
  width: 100%;
  min-height: 12vh;
  background-color: #fcfcfd;
}
//-------다이어리 종료-----------------------------
