
.common-tab_header_logo {
  height: 6vw;
  object-fit: contain;
  display: block;
  //vertical-align: bottom;
}

.common-tab_header {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1.8px solid #ecedef;
  --border-width: 0 0 0 !important;
}

.common-tab_header_setting_box{
  background-color: #ffffff;
}

.common-tab_header_setting{
  height: 6vw;
  object-fit: contain;
  padding-right: 3vw;
}


.main-header-box {
  width: 100%;
  height: 3.5rem;
  border-bottom: solid 1px #dcdcdc;
  align-items: center;
  display: grid;
  background-color: #ffffff;
}

.main-header-item-menu {
  align-items: center;
  display: grid;
  text-align: -webkit-left;
  padding-left: 4vw;
}

.main-header-item-logo {
  align-items: center;
  display: grid;
  text-align: -webkit-center;
}

.main-header-item-bell {
  align-items: center;
  display: grid;
  text-align: -webkit-right;
  padding-right: 4vw;
}



.main-header-logo {
  height: 1.5rem;
}

.main-headerMunu-img {
  height: 1.2rem;
}

.main-header-bell {
  height: 1.3rem;
}
