.height20vw{
  height: 20vw;
}
.lineHeight20vw{
  line-height: 20vw;
}
.lifePatternTitle{
  text-align: center;
  align-items: center;
  display: grid;
  font-size: 1rem;
  font-weight: bold;
  color: #454545;
  border-right: 1px solid #eaebef;
}
.diaryCountColor1{
  font-weight: bold;
  font-size: 1.375rem;
  color: #44bbc8;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: -0.66px;
  color: #44bbc8;
  padding-left: 5vw;
}
.diaryCountColor2{
  font-weight: bold;
  font-size: 1rem;
  color: #44bbc8;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: -0.66px;
  color: #454545;
}
.diaryAddBtn{
  text-align: center;
  line-height: 20vw;
}

.countBox {
  width: 100%;
  height: 12vh;
  border: solid 1px #eaebef;
  background-color: #ffffff;
}

.pattern-type-box {
  text-align: center;
  align-items: center;
  display: grid;
  font-family: Roboto;
  font-size: 3vh;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: -0.51px;
  color: #454545;
  border-right: solid 1px #eaebef;
}

.pattern-count-box {
  align-items: center;
  display: grid;
  padding-left: 2vw;
}

.pattern-count-font1 {
  font-family: Roboto;
  font-size: 4vh;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: -0.66px;
  text-align: left;
  color: #44bbc8;
}
.pattern-count-font2 {
  font-family: Roboto;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  font-size: 3vh;
  letter-spacing: -0.48px;
  color: #454545;
  text-align: left;
}


.dayBox {
  width: 28vw;
  height: 8vh;
  border-radius: 4px;
  align-items: center;
  display: inline-grid;
  text-align: center;
  font-family: Roboto;
  font-size: 4.5vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;

}

.off-day_pattern {
  border: solid 1px #dfe3ec;
  background-color: #f7f8fa;
  color: #333333;
}

.on-day_pattern {
  border: solid 1px #44bbc8;
  background-color: #effdff;
  color: #28a1ae;
}


.pattern-select-box {
  display: flex;
  border: solid 1px #d2d5dc;
  background-color: #ffffff;
  height: 8vh;
  align-items: center;
  border-radius: 4px;
}

.pattern-input-border {
  width: 100%;
  height: 7vh;
  border: solid 1px #d2d5dc;
  background-color: #ffffff;
}

.pattern-input-box {
  width: 100%;
  border: 0;
  padding-left: 4vw;
  padding-right: 4vw;
  text-align: right;
  border-radius: 4px;
}

.pattern-input-box:focus {outline:none;}


.pattern-add-button {
  display: grid;
  width: 100%;
  height: 8vh;
  border-radius: 4px;
  background-color: #44bbc8;
  align-items: center;
  font-family: Roboto;
  font-size: 3vh;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.58px;
  text-align: center;
  color: #ffffff;
}

.pattern-report-list-box {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 3px 7px 0 rgba(72, 74, 82, 0.16);
  background-color: #ffffff;
}

.pattern-report-header {
  border-bottom: solid 1px #eeeff1;
  width: 100%;
  height: 8vh;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.59px;
  color: #262626;
}

.pattern-report-label {
  min-height: 8vh;
  background-color: #eff1f5;
  text-align: left;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.59px;
  color: #262626;
  padding-left: 5vw;
  padding: 2vh;
}


.pattern-list-box {
  min-height: 12vh;
  align-items: center;
  display: flex;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.59px;
  color: #262626;
}

.pattern-background {
  --background: #fcfcfd;
}

.pattern-page {
  width: 100%;
  margin: 0 0 16px;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

.pattern-text {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.51px;
  text-align: left;
  color: #2e2e2e;
}

.pattern-list-font1 {
  font-family: Roboto;
  font-size: 1.3rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  color: #44bbc8;
  letter-spacing: -0.13px;
  text-align: left;

}

.pattern-list-font2 {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.59px;
  color: #262626;
  text-align: left;
  padding-left: 2vw;
}

.pattern-ex-list-box1 {
  height: 6vh;
  align-items: flex-end;
  display: flex;
}

.pattern-ex-list-box2 {
  height: 6vh;
  align-items: center;
  display: flex;
}

ion-select {
  width: 100% !important;
}

.border-bottom{
  border: solid 1px #eeeff1;
}
