.login_main_label {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.login_label{
  padding-top: 2vh;
  padding-bottom: 1vh;
}

.login_input {
  padding-bottom: 2vh;
}

.email-box {
  text-align: center;
  align-items: center;
  display: grid;
}

.idNumber {
  text-align: center;
  font-size: 6vw;
  letter-spacing: 0.5vh;
  font-weight: 600;
  align-items: center;
  display: grid;
}
