<app-page-header></app-page-header>

<ion-content>
  <ion-grid class="pd3vw">
    <ion-row class="login_main_label">
      <ion-col>
        <span class="Roboto-Bold">가입정보입력</span>
      </ion-col>
    </ion-row>
    <!--이름-->
    <ion-row class="login_label">
      <ion-col size="5">
        <span class="Roboto-Regular">성</span>
      </ion-col>
      <ion-col size="7">
        <span class="Roboto-Regular">이름</span>
      </ion-col>
    </ion-row>
    <ion-row class="login_input">
      <ion-col size="5" class="pdR2vw">
        <input class="common_input" type="text">
      </ion-col>
      <ion-col size="7">
        <input class="common_input common_input" type="text">
      </ion-col>
    </ion-row>
    <!--아이디-->
    <ion-row id="name" class="login_label">
      <ion-col>
        <span class="Roboto-Regular">아이디</span>
      </ion-col>
    </ion-row>
    <ion-row class="login_input">
      <ion-grid>
        <ion-row>
          <ion-col size="8" >
            <input class="common_input" type="text" id="userId"
                   placeholder="이메일을 입력해주세요."/>
          </ion-col>
          <ion-col size="4" class="pdL2vw">
            <button class="common_button">
              중복확인
            </button>
          </ion-col>
        </ion-row>
<!--        <ion-row>
          <ion-col>
            <span class="errorMessage">아이디는 이메일 형식으로 만들어야합니다.</span>
          </ion-col>
        </ion-row>-->
      </ion-grid>
    </ion-row>
<!--    <ion-row class="pdT5">
      <ion-col>
        <span class="helperText_blue">아이디 중복확인을 완료하였습니다.</span>
      </ion-col>
    </ion-row>-->
    <!--비밀번호-->
    <ion-row class="login_label">
      <ion-col>
        <span class="Roboto-Regular">비밀번호</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="pw_input_box">
        <ion-grid class="height100Per">
          <ion-row class=" height100Per">
            <ion-col size="10">
              <input class="common_button_input"
                     placeholder="비밀번호를 입력해 주세요.">
            </ion-col>
            <ion-col size="2" class="text-center showPw">
              <img class="showPwImg" src="assets/image/Icon_view_pw.svg">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
<!--    <ion-row>
      <ion-col>
        <span class="errorMessage">비밀번호는 8자리 이상 20자리 이하의 영어와 숫자와 특수문자 조합으로 만들어야합니다.</span>
      </ion-col>
    </ion-row>-->

    <ion-row class="login_label">
      <ion-col>
        <span class="Roboto-Regular">비밀번호 확인</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="pw_input_box">
        <ion-grid class="height100Per">
          <ion-row class="height100Per">
            <ion-col size="10">
              <input class="common_button_input"
                     placeholder="비밀번호를 한번 더 입력해 주세요.">
            </ion-col>
            <ion-col size="2" class="text-center showPw">
              <img class="showPwImg" src="assets/image/Icon_view_pw.svg">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <!--이메일-->
    <ion-row class="login_label">
      <ion-col>
        <span class="Roboto-Regular">이메일</span>
      </ion-col>
    </ion-row>
    <ion-row class="login_input">
      <ion-col size="5" class="pdR2vw">
        <input class="common_input" type="text">
      </ion-col>
      <ion-col size="1" class="email-box">
        <span>@</span>
      </ion-col>
      <ion-col size="6">
        <input class="common_input common_input" type="text">
      </ion-col>
    </ion-row>
    <ion-row class="login_input"> <!--*ngIf="conditionValue.certificationEmail != 'Y' && conditionValue.showEmailAuthNm === 'Y'"-->
      <ion-col class="timer_input_box" size="8">
        <ion-grid>
          <ion-row class="height100Per">
            <ion-col>
              <input class="common_button_input" type="number" placeholder="인증번호를 입력해주세요.">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="4" class="pdL2vw">
        <button class="common_button">
          인증하기
        </button>
      </ion-col>
    </ion-row>
    <!--생년월일 / 성별-->
    <ion-row class="login_label">
      <ion-col>
        <span class="Roboto-Regular">생년월일 / 성별</span>
      </ion-col>
    </ion-row>
    <ion-row class="login_input">
      <ion-col size="5" class="pdR2vw">
        <input class="common_input" type="text">
      </ion-col>
      <ion-col size="1" class="email-box">
        <span>-</span>
      </ion-col>
      <ion-col size="2">
        <input class="common_input common_input" type="text">
      </ion-col>
      <ion-col size="4" class="idNumber">
        <span>******</span>
      </ion-col>
    </ion-row>
<!--    <ion-row>
      <ion-col>
        <span class="errorMessage">비밀번호가 동일하지 않습니다.</span>
      </ion-col>
    </ion-row>-->

    <!--휴대폰 번호-->
    <ion-row class="login_label">
      <ion-col>
        <span class="Roboto-Regular">휴대폰 번호</span>
      </ion-col>
    </ion-row>
    <ion-row class="login_input">
      <ion-col size="3.5" class="pdR2vw">
        <input class="common_input" type="text">
      </ion-col>
      <ion-col size="8.5">
        <input class="common_input common_input" type="text">
      </ion-col>
    </ion-row>
    <ion-row class="login_input">
      <ion-col>
        <button class="common_button">
          <span>인증번호 받기</span>
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="login_input"> <!--*ngIf="conditionValue.certificationEmail != 'Y' && conditionValue.showEmailAuthNm === 'Y'"-->
      <ion-col class="timer_input_box" size="8">
        <ion-grid>
          <ion-row class="height100Per">
            <ion-col size="9">
              <input class="common_button_input" type="number" placeholder="인증번호를 입력해주세요.">
            </ion-col>
            <ion-col size="3">
              <span class="timerMessage"></span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="4" class="pdL2vw">
        <button class="common_button">
          인증하기
        </button>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button class="common_button">다음</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
