<ion-header collapse="condense">
  <ion-grid class="main-header-box">
    <ion-row>
      <ion-col class="main-header-item-menu">
        <img src="assets/image/icon_menu.svg" class="main-headerMunu-img" (click)="openModal()">
      </ion-col>
      <ion-col class="main-header-item-logo">
        <img src="assets/image/sim_logo.svg" class="main-header-logo">
      </ion-col>
      <ion-col class="main-header-item-bell">
        <img src="assets/image/icon_bell.svg" class="main-header-bell" (click)="goToPage('/alarm')">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
