<app-page-header></app-page-header>

<ion-content>
  <ion-grid class="device-page">
    <ion-row>
      <ion-col>
        <ion-grid class="pdL4vw pdR4vw device-box">
          <ion-row class="pdT5vh">
            <ion-col class="device-font1" >
              <img class="squareIcon-img" src="assets/image/device/squareIcon.svg">
              <span>
                fitbit
              </span>
            </ion-col>
            <ion-col class="device-font2">
              <span>연동 방법</span>
              <img class="info-img" src="assets/image/device/Icon_dvccnInfrm.svg">
            </ion-col>
          </ion-row>
          <ion-row class="mgT2vh">
            <ion-col>
              <img class="device-img" src="assets/image/device/devicenam_fitbit.svg">
            </ion-col>
            <ion-col class="align_center-grid" (click)="onAuthEvent()">
              <button class="device-button"><span>데이터 불러오기</span></button>
            </ion-col>
          </ion-row>
          <ion-row class="device-date">
            <ion-col>
              <span>최근 데이터 연동</span>
            </ion-col>
            <ion-col>
              <span>2020-12-08 08:30</span>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="pdL4vw pdR4vw device-box">
          <ion-row class="pdT5vh">
            <ion-col class="device-font1">
              <img class="squareIcon-img" src="assets/image/device/squareIcon.svg">
              <span>
                mi band
              </span>
            </ion-col>
            <ion-col class="device-font2">
              <span>연동 방법</span>
              <img class="info-img" src="assets/image/device/Icon_dvccnInfrm.svg">
            </ion-col>
          </ion-row>
          <ion-row class="mgT2vh">
            <ion-col>
              <img class="device-img" src="assets/image/device/devicenam_miband.svg">
            </ion-col>
            <ion-col class="align_center-grid" (click)="miband()">
              <button class="device-button"><span>데이터 불러오기</span></button>
            </ion-col>
          </ion-row>
          <ion-row class="device-date">
            <ion-col>
              <span>최근 데이터 연동</span>
            </ion-col>
            <ion-col>
              <span>2020-12-08 08:30</span>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="pdL4vw pdR4vw device-box">
          <ion-row class="pdT5vh">
            <ion-col class="device-font1">
              <img class="squareIcon-img" src="assets/image/device/squareIcon.svg">
              <span>
                google fitness
              </span>
            </ion-col>
            <ion-col class="device-font2">
              <span>연동 방법</span>
              <img class="info-img" src="assets/image/device/Icon_dvccnInfrm.svg">
            </ion-col>
          </ion-row>
          <ion-row class="mgT2vh">
            <ion-col>
              <img class="device-img" src="assets/image/device/devicenam_google.svg">
            </ion-col>
            <ion-col class="align_center-grid">
              <button class="device-button"><span>데이터 불러오기</span></button>
            </ion-col>
          </ion-row>
          <ion-row class="device-date">
            <ion-col>
              <span>최근 데이터 연동</span>
            </ion-col>
            <ion-col>
              <span>2020-12-08 08:30</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
