.loading-box {
  position: fixed;
  display: block;
  opacity: 0.8;
  background-color: #ffffff;
  z-index: 99;
  text-align: center;
  height: 100%;
  width: 100%;
}

.loading-bar {
  top: calc((100vh - 20vh - 8vh)/2);
  left: 0px;
}


.loading-img {
  height: 20vh;
}

.text-box {
  width: 80%;
  height: 6vh;
  border-radius: 4px;
  z-index: 100;
  display: grid;
  align-items: center;
  color: #262626;
  font-size: 2.4vh;
  text-align: center;
  font-weight: bold;
}

.text-box-padding {
  padding: 10vw;
  position: absolute;
  top: calc((100vh + 3vh)/2);
  width: 100%;
}
