.memberInfo-box {
  border-top: solid 1px #dcdcdc;
}

.memberInfo-list-box {
  padding-left: 4vw;
  padding-right: 4vw;
  width: 100%;
  height: 4.5rem;
  align-items: center;
  display: flex;
  font-family: Roboto;
  font-size: 4.5vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: -0.95px;
  color: #333333;
  border-bottom: solid 1px #dcdcdc;
}

.memberInfo-list-next {
  height: .8rem;
}

