<ion-content>
  <ion-grid class="sideMenu-page">
    <ion-row>
      <ion-col>
        <ion-grid class="side-header">
          <ion-row>
            <ion-col size="2" class="text_center">
              <img src="assets/image/sideMenu/Icon_awesome_user.svg" class="sideMenu-user-icon">
            </ion-col>
            <ion-col size="10">
              <span>{{userInfo.firstName}}{{userInfo.lastName}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="sideMenu-list" (click)="goToPage('/main/main/home', '메인화면/홈', 'HOME')">
          <ion-row class="height100Per">
            <ion-col size="2" class="text_center align_center-grid">
              <img src="assets/image/sideMenu/Icon_menu_1.svg" class="sideMenu-list-icon">
            </ion-col>
            <ion-col size="10" class="align_center-grid">
              <span>홈</span>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="sideMenu-list" (click)="goToPage('/main/main/lifelog', '메인화면/라이프로그', 'LIFELOG')">
          <ion-row class="height100Per">
            <ion-col size="2" class="text_center align_center-grid">
              <img src="assets/image/sideMenu/Icon_menu_2.svg" class="sideMenu-list-icon">
            </ion-col>
            <ion-col size="10" class="align_center-grid">
              <span>라이프로그</span>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="sideMenu-list" (click)="goToPage('/main/main/dictionary', '메인화면/증상백과', 'DICTIONARY')">
          <ion-row class="height100Per">
            <ion-col size="2" class="text_center align_center-grid">
              <img src="assets/image/sideMenu/Icon_menu_3.svg" class="sideMenu-list-icon">
            </ion-col>
            <ion-col size="10" class="align_center-grid">
              <span>증상백과</span>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="sideMenu-list" (click)="goToPage('/main/main/calendar', '메인화면/캘린더', 'CALENDAR')">
          <ion-row class="height100Per">
            <ion-col size="2" class="text_center align_center-grid">
              <img src="assets/image/sideMenu/Icon_menu_4.svg" class="sideMenu-list-icon">
            </ion-col>
            <ion-col size="10" class="align_center-grid">
              <span>캘린더</span>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="sideMenu-list" (click)="goToPage('/member-info', '개인정보', 'PAGE')">
          <ion-row class="height100Per">
            <ion-col size="2" class="text_center align_center-grid">
              <img src="assets/image/sideMenu/Icon_menu_5.svg" class="sideMenu-list-icon">
            </ion-col>
            <ion-col size="10" class="align_center-grid">
              <span>개인정보</span>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="sideMenu-list" (click)="goToPage('/setting', '설정', 'PAGE')">
          <ion-row class="height100Per">
            <ion-col size="2" class="text_center align_center-grid">
              <img src="assets/image/sideMenu/Icon_menu_6.svg" class="sideMenu-list-icon">
            </ion-col>
            <ion-col size="10" class="align_center-grid">
              <span>설정</span>
            </ion-col>
          </ion-row>
        </ion-grid>
<!--        <ion-grid class="sideMenu-list">
          <ion-row class="height100Per">
            <ion-col size="2" class="text_center align_center-grid">
              <img src="assets/image/sideMenu/Icon_menu_7.svg" class="sideMenu-list-icon">
            </ion-col>
            <ion-col size="10" class="align_center-grid">
              <span>원격화상</span>
            </ion-col>
          </ion-row>
        </ion-grid>-->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
