<app-page-header></app-page-header>

<ion-content>
  <ion-grid class="lifelog-page">
    <ion-row>
      <ion-col>
        <ion-grid class="lifelog-select-date">
          <ion-row class="pd4vw">
            <ion-col size="3" class="pdR4vw">
              <ion-grid class="lifelog-date-active">
                <ion-row>
                  <ion-col>
                    <span>일간</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col size="3" class="pdR4vw">
              <ion-grid class="lifelog-date">
                <ion-row>
                  <ion-col>
                    <span>주간</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col size="3" class="pdR4vw">
              <ion-grid class="lifelog-date">
                <ion-row>
                  <ion-col>
                    <span>월간</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col size="3"class="pdR4vw">
              <ion-grid class="lifelog-date">
                <ion-row>
                  <ion-col>
                    <span>년간</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="lifelog-select-date2" >
          <ion-row>
            <ion-col size="1">
              <img src="assets/image/lifelog/Icon_llg_arrow_c_left.svg" class="lifelog-next-img2">
            </ion-col>
            <ion-col size="10">
              <span class="lifelog-select-date-font">2021년 01월</span>
            </ion-col>
            <ion-col size="1">
              <img src="assets/image/lifelog/Icon_llg_arrow_c_right.svg" class="lifelog-next-img2">
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row class="lifelog-chart-box">
            <ion-col class="height100Per width100vw">
              <ion-grid class="pdL4vw pdR4vw">
                <ion-row>
                  <ion-col>
                    <ion-grid class="mgT3vh mgB3vh text_center">
                      <ion-row>
                        <ion-col>
                          <span class="sleep-font1">25</span>
                          <span class="sleep-font2">시간</span>
                          <span class="sleep-font1">25</span>
                          <span class="sleep-font2">분</span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-grid>
                      <ion-row>
                        <ion-col class="sleep-chart-padding" size="{{sleepChart.deep}}">
                          <div class="sleep-chart1"></div>
                        </ion-col>
                        <ion-col class="sleep-chart-padding" size="{{sleepChart.light}}">
                          <div class="sleep-chart2"></div>
                        </ion-col>
                        <ion-col class="sleep-chart-padding" size="{{sleepChart.rem}}">
                          <div class="sleep-chart3"></div>
                        </ion-col>
                        <ion-col class="sleep-chart-padding" size="{{sleepChart.normal}}">
                          <div class="sleep-chart4"></div>
                        </ion-col>
                        <ion-col class="sleep-chart-padding" size="{{sleepChart.awake}}">
                          <div class="sleep-chart5"></div>
                        </ion-col>
                      </ion-row>
                      <ion-row class="text_center">
                        <ion-col size="{{sleepChart.deep}}">
                          <span class="sleep-chart-per">{{sleepChartLabel.deep}}%</span>
                        </ion-col>
                        <ion-col size="{{sleepChart.light}}">
                          <span class="sleep-chart-per">{{sleepChartLabel.light}}%</span>
                        </ion-col>
                        <ion-col size="{{sleepChart.rem}}">
                          <span class="sleep-chart-per">{{sleepChartLabel.rem}}%</span>
                        </ion-col>
                        <ion-col size="{{sleepChart.normal}}">
                          <span class="sleep-chart-per">{{sleepChartLabel.normal}}%</span>
                        </ion-col>
                        <ion-col size="{{sleepChart.awake}}">
                          <span class="sleep-chart-per">{{sleepChartLabel.awake}}%</span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="pd4vw">
          <ion-row>
            <ion-col>
              <ion-grid class="sleep-type-box">
                <ion-row class="height100Per">
                  <ion-col size="1" class="align_center-flex">
                    <img src="assets/image/lifelog/sl_1.svg" class="sleep-type-img">
                  </ion-col>
                  <ion-col size="3" class="align_center-flex">
                    <span class="sleep-type-font1">깊은 수면</span>
                  </ion-col>
                  <ion-col size="8" class="align_center-flex">
                    <ion-grid>
                      <ion-row class="text_right">
                        <ion-col>
                          <span class="sleep-type-font2">10</span>
                          <span class="sleep-type-font3">시간</span>
                          <span class="sleep-type-font2">21</span>
                          <span class="sleep-type-font3">분</span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="pdL4vw pdR4vw pdB4vw">
          <ion-row>
            <ion-col>
              <ion-grid class="sleep-type-box">
                <ion-row class="height100Per">
                  <ion-col size="1" class="align_center-flex">
                    <img src="assets/image/lifelog/sl_2.svg" class="sleep-type-img">
                  </ion-col>
                  <ion-col size="3" class="align_center-flex">
                    <span class="sleep-type-font1">얕은 수면</span>
                  </ion-col>
                  <ion-col size="8" class="align_center-flex">
                    <ion-grid>
                      <ion-row class="text_right">
                        <ion-col>
                          <span class="sleep-type-font2">10</span>
                          <span class="sleep-type-font3">시간</span>
                          <span class="sleep-type-font2">21</span>
                          <span class="sleep-type-font3">분</span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="pdL4vw pdR4vw pdB4vw">
          <ion-row>
            <ion-col>
              <ion-grid class="sleep-type-box">
                <ion-row class="height100Per">
                  <ion-col size="1" class="align_center-flex">
                    <img src="assets/image/lifelog/sl_3.svg" class="sleep-type-img">
                  </ion-col>
                  <ion-col size="3" class="align_center-flex">
                    <span class="sleep-type-font1">램 수면</span>
                  </ion-col>
                  <ion-col size="8" class="align_center-flex">
                    <ion-grid>
                      <ion-row class="text_right">
                        <ion-col>
                          <span class="sleep-type-font2">10</span>
                          <span class="sleep-type-font3">시간</span>
                          <span class="sleep-type-font2">21</span>
                          <span class="sleep-type-font3">분</span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="pdL4vw pdR4vw pdB4vw">
          <ion-row>
            <ion-col>
              <ion-grid class="sleep-type-box">
                <ion-row class="height100Per">
                  <ion-col size="1" class="align_center-flex">
                    <img src="assets/image/lifelog/sl_4.svg">
                  </ion-col>
                  <ion-col size="3" class="align_center-flex">
                    <span class="sleep-type-font1">일반 수면</span>
                  </ion-col>
                  <ion-col size="8" class="align_center-flex">
                    <ion-grid>
                      <ion-row class="text_right">
                        <ion-col>
                          <span class="sleep-type-font2">10</span>
                          <span class="sleep-type-font3">시간</span>
                          <span class="sleep-type-font2">21</span>
                          <span class="sleep-type-font3">분</span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="pdL4vw pdR4vw pdB4vh">
          <ion-row>
            <ion-col>
              <ion-grid class="sleep-type-box">
                <ion-row class="height100Per">
                  <ion-col size="1" class="align_center-flex">
                    <img src="assets/image/lifelog/sl_5.svg" class="sleep-type-img">
                  </ion-col>
                  <ion-col size="2.5" class="align_center-flex">
                    <span class="sleep-type-font1">깨어남</span>
                  </ion-col>
                  <ion-col size="8.5" class="align_center-flex">
                    <ion-grid>
                      <ion-row class="text_right">
                        <ion-col>
                          <span class="sleep-type-font2">20</span>
                          <span class="sleep-type-font3">회</span>
                          <span class="sleep-type-font4">/</span>
                          <span class="sleep-type-font2">10</span>
                          <span class="sleep-type-font3">시간</span>
                          <span class="sleep-type-font2">21</span>
                          <span class="sleep-type-font3">분</span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row class="lifelog-list-header">
            <ion-col>
              <span>2021년 01월 03일 ~ 2021년 01월 03일</span>
            </ion-col>
          </ion-row>
          <ion-row class="lifelog-list-date-box">
            <ion-col size="8" class="lifelog-list-date">
              <span>12.01 02:10 - 12.01 06:30</span>
            </ion-col>
            <ion-col size="4" class="align_center-flex text_right pdR4vw">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <img src="assets/image/lifelog/sl_1.svg" class="sleep-type-img"><span class="sleep-type-font1 pdL2vw">깊은 수면</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
          <ion-row class="lifelog-list-date-box">
            <ion-col size="8" class="lifelog-list-date">
              <span>12.01 02:10 - 12.01 06:30</span>
            </ion-col>
            <ion-col size="4" class="align_center-flex text_right pdR4vw">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <img src="assets/image/lifelog/sl_2.svg" class="sleep-type-img"><span class="sleep-type-font1 pdL2vw">얕은 수면</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row class="lifelog-list-header">
            <ion-col>
              <span>2021년 01월 03일 ~ 2021년 01월 03일</span>
            </ion-col>
          </ion-row>
          <ion-row class="lifelog-list-date-box">
            <ion-col size="8" class="lifelog-list-date">
              <span>12.01 02:10 - 12.01 06:30</span>
            </ion-col>
            <ion-col size="4" class="align_center-flex text_right pdR4vw">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <img src="assets/image/lifelog/sl_5.svg" class="sleep-type-img"><span class="sleep-type-font1 pdL2vw">깨어남</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
