// 공통
ion-content {
   font-family: Roboto;
 }
.height12vh{
  height: 12vh;
}
.lineHeight12vh{
  line-height: 12vh;
}
.diaryTopNav{
  height: 7.8vh;
  padding: 13px 16px 14px;
  background-color: #3a4b5f;
}
.diaryTopText1{
  font-size: 17px;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: -0.51px;
  text-align: left;
  color: #ffffff;
}
.diaryTopText2{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.31;
  letter-spacing: -0.48px;
  text-align: right;
  color: #ffffff;
}
.diaryTitleRow{
  height: 7.5vh;
  padding: 13px 16px 14px;
  background-color: #efefef;
}
.diaryTitleText{
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  letter-spacing: -0.95px;
  text-align: left;
  color: #848484;
}
.diaryCountColor{
  font-size: 1.25rem;
  font-weight: bold;
  color: #44bbc8;
}
.diaryMovePageBtn{
  text-align: center;
  line-height: 12vh;
  padding-top: 0.5vh;
}

.border-bottom{
  border-bottom: 1px solid #eaebef;
}

/*공황---------------------*/
.panicCount {
  text-align: center;
  line-height: 20vw;
  border-right: 1px solid #eaebef;
}
.panicDetailBox{
  margin: 6vw 5vw;
  border-radius: 12px;
  box-shadow: 0 3px 7px 0 rgba(72, 74, 82, 0.16);
  background-color: #ffffff;
}
.panicDetailText{
  font-family: Roboto;
  font-size: 16px;
  color: #262626;
  align-items: center;
  display: flex;
}
.symtomListBox{
  word-break: normal;
  line-height: 2.6;
}
.symtomText{
  color: #3a4b5f;
  background-color: #f0f7ff;
  border-radius: 4px;
}


.panic-border-right{
  border-right: 1px solid #eeeff1;
}
.panic-border-bottom{
  border-bottom: 1px solid #eeeff1;
}
/*------------------------*/

/*정서---------------------*/
.emotionDetailText{
  font-size: 15px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: -0.45px;
  text-align: left;
  color: #454545;
}
.emotionDegreeBox {
  border-bottom: solid 1px #eaebef;
  background-color: #ffffff;
}
.emotionDegree{
  text-align: center;
  background-color: #eeeff1;
  font-size: 17px;
  font-weight: bold;
  color: #7e8da0;
  border-radius: 50%;
}
.emotionDegreePick{
  text-align: center;
  background-color: #44bbc8;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 50%;
}
.degree1{
  height: 11vw;
  padding: 1.6vw;
}
.degree2{
  height: 11.2vw;
  padding: 2vw;
}

.saveBtn{
  width: 100%;
  height: 7.5vh;
  border-radius: 4px;
  background-color: #44BBC8;
  font-size: 1.125rem;
  color: #ffffff;
}
.cancelBtn{
  width: 100%;
  height: 7.5vh;
  border-radius: 4px;
  background-color: #eeeff1;
  font-size: 1.125rem;
  color: #3a4b5f;
}
/*------------------------*/

/*생활패턴------------------*/
.lifePatternTitle{
  text-align: center;
  align-items: center;
  display: grid;
  font-size: 1rem;
  font-weight: bold;
  color: #454545;
  border-right: 1px solid #eaebef;
}
.pattern-report-list-box {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 3px 7px 0 rgba(72, 74, 82, 0.16);
  background-color: #ffffff;
}

.pattern-report-header {
  border-bottom: solid 1px #eeeff1;
  width: 100%;
  height: 7vh;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.59px;
  color: #262626;
}

.pattern-report-label {
  min-height: 8vh;
  background-color: #eff1f5;
  text-align: left;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.59px;
  color: #262626;
  padding-left: 5vw;
  padding: 2vh;
}

.pattern-list-box {
  min-height: 8vh;
  align-items: center;
  display: flex;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.59px;
  color: #262626;
}

.pattern-background {
  --background: #fcfcfd;
}

.pattern-caffenie-list-box1 {
  height: 6vh;
  align-items: center;
  display: flex;
}

.pattern-caffenie-list-box2 {
  height: 6vh;
  align-items: center;
  display: flow-root;
}
/*------------------------*/
