<ion-content>
  <app-main-header></app-main-header>
  <div  class="openedFab" *ngIf="fabButtonOpened"></div>
  <ion-grid>
    <ion-row class="diaryTopNav">
      <ion-col class="diaryTopText1">다이어리</ion-col>
      <ion-col class="diaryTopText2">{{today | date :'y년 M월 d일'}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="diaryTitleRow">
      <ion-col class="diaryTitleText">공황</ion-col>
    </ion-row>
    <ion-row class="height12vh border-bottom">
      <ion-col size="3" class="panicCount" (click)="openPanicDetail()"><span class="diaryCountColor">{{panicDataList.length}}</span> 회</ion-col>
      <ion-col size="7" class="lineHeight12vh pdL4vw" (click)="openPanicDetail()">총 <b>{{totalPanicDuration}}</b>분 지속</ion-col>
      <ion-col size="2" class="diaryMovePageBtn" (click)="goToPage('/panic-diary')"><img src="assets/image/diary/Icon_plus.svg"></ion-col>
    </ion-row>
    <ion-grid class="panicDetailBox" *ngFor="let panics of panicDataList; let i = index;" [hidden]="panicDetailOpen == 'N'">
      <ion-row class="panic-border-bottom pd3_8vw">
        <ion-col size="11" class="panicDetailText">
          <span>{{panics.startDate}}&nbsp;{{panics.startTime}}</span>
        </ion-col>
        <ion-col size="1" class="text_center" (click)="deletePanicData(i)">
          <span><img src="../../../../../../assets/image/diary/Icon_del.svg"></span>
        </ion-col>
      </ion-row>
      <ion-row class="panic-border-bottom">
        <ion-col size="6" class="panicDetailText panic-border-right pd3_5vw">
          증상강도
          <span *ngIf="panics.panicDegree == 1"><img src="../../../../../../assets/image/panic/v_intensity_1.svg" class="mgL3vw"></span>
          <span *ngIf="panics.panicDegree == 2"><img src="../../../../../../assets/image/panic/v_intensity_2.svg" class="mgL3vw"></span>
          <span *ngIf="panics.panicDegree == 3"><img src="../../../../../../assets/image/panic/v_intensity_3.svg" class="mgL3vw"></span>
          <span *ngIf="panics.panicDegree == 4"><img src="../../../../../../assets/image/panic/v_intensity_4.svg" class="mgL3vw"></span>
          <span *ngIf="panics.panicDegree == 5"><img src="../../../../../../assets/image/panic/v_intensity_5.svg" class="mgL3vw"></span>
        </ion-col>
        <ion-col size="6" class="panicDetailText pd3_5vw">
          지속시간 &nbsp;<span class="diaryCountColor">{{panics.durationTime}}</span> 분
        </ion-col>
      </ion-row>
      <ion-grid class="pd3_8vw">
        <ion-row>
          <ion-col class="panicDetailText pdB1vh">동반증상</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="symtomListBox">
            <span *ngFor="let symptoms of panics.symptomChoiceList" class="symtomText border-none pd1vw mgR2vw">{{symptoms}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-grid>
  </ion-grid>

  <ion-grid>
    <ion-row class="diaryTitleRow">
      <ion-col class="diaryTitleText">정서</ion-col>
    </ion-row>
    <ion-grid class="emotionDegreeBox pdT1vh">
      <ion-row class="pd4vw">
        <ion-col class="emotionDetailText">기분</ion-col>
      </ion-row>
      <ion-row class="pdB3vh">
        <ion-col class="emotionDegree degree1 mgL4vw mgR2vw" (click)="clickFeeling(-3)" [class.emotionDegreePick]="emotionInsertVo.feelingDegree.indexOf(-3) !== -1"><span>-3</span></ion-col>
        <ion-col class="emotionDegree degree1 mgR2vw" (click)="clickFeeling(-2)" [class.emotionDegreePick]="emotionInsertVo.feelingDegree.indexOf(-2) !== -1"><span>-2</span></ion-col>
        <ion-col class="emotionDegree degree1 mgR2vw" (click)="clickFeeling(-1)" [class.emotionDegreePick]="emotionInsertVo.feelingDegree.indexOf(-1) !== -1"><span>-1</span></ion-col>
        <ion-col class="emotionDegree degree1 mgR2vw" (click)="clickFeeling(0)" [class.emotionDegreePick]="emotionInsertVo.feelingDegree.indexOf(0) !== -1"><span>0</span></ion-col>
        <ion-col class="emotionDegree degree1 mgR2vw" (click)="clickFeeling(1)" [class.emotionDegreePick]="emotionInsertVo.feelingDegree.indexOf(1) !== -1"><span>1</span></ion-col>
        <ion-col class="emotionDegree degree1 mgR2vw" (click)="clickFeeling(2)" [class.emotionDegreePick]="emotionInsertVo.feelingDegree.indexOf(2) !== -1"><span>2</span></ion-col>
        <ion-col class="emotionDegree degree1 mgR4vw" (click)="clickFeeling(3)" [class.emotionDegreePick]="emotionInsertVo.feelingDegree.indexOf(3) !== -1"><span>3</span></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="emotionDegreeBox pdT1vh">
      <ion-row class="pd4vw">
        <ion-col class="emotionDetailText">에너지</ion-col>
      </ion-row>
      <ion-row class="pdB3vh">
        <ion-col class="emotionDegree degree1 mgL4vw mgR2vw" (click)="clickEnergy(-3)" [class.emotionDegreePick]="emotionInsertVo.energyDegree.indexOf(-3) !== -1"><span>-3</span></ion-col>
        <ion-col class="emotionDegree degree1 mgR2vw" (click)="clickEnergy(-2)" [class.emotionDegreePick]="emotionInsertVo.energyDegree.indexOf(-2) !== -1"><span>-2</span></ion-col>
        <ion-col class="emotionDegree degree1 mgR2vw" (click)="clickEnergy(-1)" [class.emotionDegreePick]="emotionInsertVo.energyDegree.indexOf(-1) !== -1"><span>-1</span></ion-col>
        <ion-col class="emotionDegree degree1 mgR2vw" (click)="clickEnergy(0)" [class.emotionDegreePick]="emotionInsertVo.energyDegree.indexOf(0) !== -1"><span>0</span></ion-col>
        <ion-col class="emotionDegree degree1 mgR2vw" (click)="clickEnergy(1)" [class.emotionDegreePick]="emotionInsertVo.energyDegree.indexOf(1) !== -1"><span>1</span></ion-col>
        <ion-col class="emotionDegree degree1 mgR2vw" (click)="clickEnergy(2)" [class.emotionDegreePick]="emotionInsertVo.energyDegree.indexOf(2) !== -1"><span>2</span></ion-col>
        <ion-col class="emotionDegree degree1 mgR4vw" (click)="clickEnergy(3)" [class.emotionDegreePick]="emotionInsertVo.energyDegree.indexOf(3) !== -1"><span>3</span></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="emotionDegreeBox pdT1vh">
      <ion-row class="pd4vw">
        <ion-col class="emotionDetailText">불안</ion-col>
      </ion-row>
      <ion-row class="pdB3vh">
        <ion-col class="emotionDegree degree2 mgL6vw mgR7vw" (click)="clickUnrest(0)" [class.emotionDegreePick]="emotionInsertVo.unrestDegree == 0"><span>0</span></ion-col>
        <ion-col class="emotionDegree degree2 mgL7vw mgR7vw" (click)="clickUnrest(1)" [class.emotionDegreePick]="emotionInsertVo.unrestDegree == 1"><span>1</span></ion-col>
        <ion-col class="emotionDegree degree2 mgL7vw mgR7vw" (click)="clickUnrest(2)" [class.emotionDegreePick]="emotionInsertVo.unrestDegree == 2"><span>2</span></ion-col>
        <ion-col class="emotionDegree degree2 mgL7vw mgR6vw" (click)="clickUnrest(3)" [class.emotionDegreePick]="emotionInsertVo.unrestDegree == 3"><span>3</span></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="emotionDegreeBox pdT1vh">
      <ion-row class="pd4vw">
        <ion-col class="emotionDetailText">짜증</ion-col>
      </ion-row>
      <ion-row class="pdB3vh">
        <ion-col class="emotionDegree degree2 mgL6vw mgR7vw" (click)="clickAnnoy(0)" [class.emotionDegreePick]="emotionInsertVo.annoyDegree == 0"><span>0</span></ion-col>
        <ion-col class="emotionDegree degree2 mgL7vw mgR7vw" (click)="clickAnnoy(1)" [class.emotionDegreePick]="emotionInsertVo.annoyDegree == 1"><span>1</span></ion-col>
        <ion-col class="emotionDegree degree2 mgL7vw mgR7vw" (click)="clickAnnoy(2)" [class.emotionDegreePick]="emotionInsertVo.annoyDegree == 2"><span>2</span></ion-col>
        <ion-col class="emotionDegree degree2 mgL7vw mgR6vw" (click)="clickAnnoy(3)" [class.emotionDegreePick]="emotionInsertVo.annoyDegree == 3"><span>3</span></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row [hidden]="emotionList.length !== 0">
        <ion-col size="4" class="text_center pdT5vh pdR4vw pdL4vw"><button class="cancelBtn" (click)="cancelEmotionDegree()">취소</button></ion-col>
        <ion-col size="8" class="text_center pdT5vh pdR4vw pdB5vh"><button class="saveBtn" (click)="saveEmotionDegree()">저장</button></ion-col>
      </ion-row>
      <ion-row [hidden]="emotionList.length == 0">
        <ion-col class="text_center pdT5vh pdR4vw pdB5vh pdL4vw"><button class="saveBtn" (click)="modifyEmotionDegree()">수정</button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
  <ion-grid>
    <ion-row class="diaryTitleRow">
      <ion-col class="diaryTitleText">생활패턴</ion-col>
    </ion-row>

    <ion-row class="height12vh border-bottom">
      <ion-col size="3" class="lifePatternTitle" (click)="openDrinkDetail()"><span>음주</span></ion-col>
      <ion-col size="7" class="lineHeight12vh pdL4vw" (click)="openDrinkDetail()"><span class="diaryCountColor">{{drinkingList.length}}</span> 건</ion-col>
      <ion-col size="2" class="diaryMovePageBtn" (click)="goToPage('/pattern-dringing')"><img src="assets/image/diary/Icon_plus.svg"></ion-col>
    </ion-row>
    <ion-grid class="border-bottom" *ngIf="drinkingList.length !== 0" [hidden]="drinkDetailOpen == 'N'">
      <ion-grid class="mg5vw">
        <ion-row>
          <ion-col>
            <ion-grid class="pattern-report-list-box">
              <ion-row class="pattern-report-header">
                <ion-col>
                  <span>음주 리포트</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-grid>
                    <ion-row *ngFor="let drinking of drinkingList">
                      <ion-col size="3" class="pattern-report-label">
                        <span>{{drinking.dayNm}}</span>
                      </ion-col>
                      <ion-col size="9">
                        <ion-grid class="border-bottom" *ngFor="let itemList of drinking.dataList; let dataIndex = index">
                          <ion-row>
                            <ion-col size="9" class="pattern-list-box pdL4vw">
                              <span>{{itemList.typeNm}}</span>
                            </ion-col>
                            <ion-col size="3" class="pattern-list-box">
                              <span class="diaryCountColor">{{itemList.count}}</span><span>&nbsp;잔</span>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-grid>

    <ion-row class="height12vh border-bottom">
      <ion-col size="3" class="lifePatternTitle" (click)="openSmokeDetail()"><span>흡연</span></ion-col>
      <ion-col size="7" class="lineHeight12vh pdL4vw" (click)="openSmokeDetail()"><span class="diaryCountColor">1</span> 건</ion-col>
      <ion-col size="2" class="diaryMovePageBtn" (click)="goToPage('/pattern-smoking')"><img src="assets/image/diary/Icon_plus.svg"></ion-col>
    </ion-row>
    <ion-grid class="border-bottom" [hidden]="smokeDetailOpen == 'N'">
      <ion-grid class="mg5vw">
        <ion-row>
          <ion-col>
            <ion-grid class="pattern-report-list-box">
              <ion-row class="pattern-report-header">
                <ion-col>
                  <span>흡연 리포트</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-grid>
                    <ion-row >
                      <ion-col class="pattern-list-box">
                        <ion-grid>
                          <ion-row>
                            <ion-col class="pattern-list-box pdL4vw">
                              <span class="diaryCountColor">{{smokingAmount}}</span><span>&nbsp;개피</span>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-grid>

    <ion-row class="height12vh border-bottom">
      <ion-col size="3" class="lifePatternTitle" (click)="openCaffeineDetail()"><span>카페인</span></ion-col>
      <ion-col size="7" class="lineHeight12vh pdL4vw" (click)="openCaffeineDetail()"><span class="diaryCountColor">{{caffeineList.length}}</span> 건</ion-col>
      <ion-col size="2" class="diaryMovePageBtn" (click)="goToPage('/pattern-caffeine')"><img src="assets/image/diary/Icon_plus.svg"></ion-col>
    </ion-row>
    <ion-grid class="border-bottom" [hidden]="caffeineDetailOpen == 'N'">
      <ion-grid class="mg5vw">
        <ion-row>
          <ion-col>
            <ion-grid class="pattern-report-list-box">
              <ion-row class="pattern-report-header">
                <ion-col>
                  <span>카페인 리포트</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-grid>
                    <ion-row *ngFor="let caffeine of caffeineList let dayIndex = index">
                      <ion-col size="3" class="pattern-report-label">
                        <span>{{caffeine.dayNm}}</span>
                      </ion-col>
                      <ion-col size="9">
                        <ion-grid class="border-bottom" *ngFor="let itemList of caffeine.dataList; let dataIndex = index">
                          <ion-row>
                            <ion-col class="pattern-list-box pdL4vw">
                              <ion-grid>
                                <ion-row>
                                  <ion-col class="pattern-caffenie-list-box1">
                                    <span>{{itemList.typeNm}}</span>
                                  </ion-col>
                                </ion-row>
                                <ion-row>
                                  <ion-col class="pattern-caffenie-list-box2">
                                    <span class="diaryCountColor">{{itemList.count}}</span><span>&nbsp;잔</span>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-grid>

    <ion-row class="height12vh border-bottom">
      <ion-col size="3" class="lifePatternTitle"><span>식사</span></ion-col>
      <ion-col size="7" class="lineHeight12vh pdL4vw"><span class="diaryCountColor">2</span> 건</ion-col>
      <ion-col size="2" class="diaryMovePageBtn" (click)="goToPage('/pattern-meal')"><img src="assets/image/diary/Icon_plus.svg"></ion-col>
    </ion-row>
    <ion-row class="height12vh border-bottom">
      <ion-col size="3" class="lifePatternTitle"><span>운동</span></ion-col>
      <ion-col size="7" class="lineHeight12vh pdL4vw"><span class="diaryCountColor">0</span> 건</ion-col>
      <ion-col size="2" class="diaryMovePageBtn" (click)="goToPage('/pattern-ex')"><img src="assets/image/diary/Icon_plus.svg"></ion-col>
    </ion-row>
    <ion-row class="height12vh border-bottom">
      <ion-col size="3" class="lifePatternTitle"><span>생리</span></ion-col>
      <ion-col size="7" class="lineHeight12vh pdL4vw"></ion-col>
      <ion-col size="2" class="diaryMovePageBtn" (click)="goToPage('/pattern-physiology')"><img src="assets/image/diary/Icon_plus.svg"></ion-col>
    </ion-row>
  </ion-grid>
  <app-fab (fabOpened)="fabHandler($event)"></app-fab>
</ion-content>
