// 추가 정보 입력
// 약간 동의 파트
.moreInfo-term-font1 {
  font-family: Roboto;
  font-size: 3.3vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.62px;
  text-align: left;
  color: #000000;
}



.moreInfo-term-box {
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 6vh;
}


// 질문 라벨 텍스트
.qus-label-font {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.51px;
  text-align: left;
  color: #2e2e2e;
}

// 인증
.auth-input-box {
  width: 100%;
  height: 7vh;
  border: solid 1px #d2d5dc;
  background-color: #ffffff;
}

.auth-input {
  width: 100%;
  height: 100%;
  border: 0;
  padding-left: 3vw;
  padding-right: 3vw;
}

.auth-input_dis {
  width: 100%;
  height: 100%;
  border: solid 1px #d2d5dc;
  background-color: #ecedef;
  padding-left: 3vw;
  padding-right: 3vw;
}

.auth-input:focus {outline:none;}


.auth-button {
  width: 100%;
  height: 7vh;
  background-color: #ecedef;
  border-radius: 4%;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.1px;
  text-align: center;
  color: #bbbec2;
}

.auth-button_active {
  width: 100%;
  height: 7vh;
  background-color: #44bbc8;
  border-radius: 4%;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
}


// 주의사항 폰트
.notice-font {
  font-family: Roboto;
  font-size: 0.8rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.48px;
  text-align: left;
  color: #111111;
}


//추가 정보 리스트
.moreInfo-select-box1 {
  width: 100%;
  height: 8vh;
  border: solid 1px #28a1ae;
  background-color: #effdff;
  align-items: center;
  padding-left: 3vw;
  margin-top: 1.5vh;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.51px;
  text-align: left;
  color: #28a1ae;
}

.moreInfo-select-box2 {
  width: 100%;
  height: 8vh;
  border: solid 1px #d2d5dc;
  background-color: #ffffff;
  align-items: center;
  padding-left: 3vw;
  margin-top: 1.5vh;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.51px;
  text-align: left;
  color: #262626;
}

.moreInfo-input-box1 {
  width: 100%;
  height: 8vh;
  border: solid 1px #28a1ae;
  background-color: #ffffff;
  align-items: center;
  padding-left: 3vw;
  margin-top: 1.5vh;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.51px;
  text-align: left;
  color: #262626;
}


.moreInfo-ion-select {
  width: 100%;
  height: 7vh;
  border: solid 1px #d2d5dc;
  background-color: #ffffff;
  align-items: center;
  display: grid;
  margin-top: 1vh;
}



.moreInfo-radioButton1 {
  width: 100%;
  height: 7vh;
  border: solid 1px #28a1ae;
  background-color: #effdff;
  text-align: center;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.51px;
  color: #28a1ae;
  align-items: center;
  display: grid;
}

.moreInfo-radioButton2 {
  width: 100%;
  height: 7vh;
  border: solid 1px #d2d5dc;
  background-color: #ffffff;
  text-align: center;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.51px;
  color: #737373;
  align-items: center;
  display: grid;
}

//추가 정보 페이지 헤더
.header_Box {
  width: 100%;
  height: 8.5vh;
  align-items: center;
  display: flex;
  text-align: center;
  border-bottom: solid 1px #dcdcdc;
}

.header_font {
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: -0.64px;
  text-align: center;
  color: #262626;
}

// Range
.infoRange {
  --bar-background: #edf0f6;
  --bar-height: 0.8vh;
  --bar-background-active: #44bbc8;
  --knob-size: 2vh;
  --knob-background: #ffffff;
  --ion-color-base: #44bbc8 !important;
  margin-top: 7vh;
}

.range-start {
  background-color: #44bbc8;
  width: 1.5vh;
  height: 1.5vh;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  position: relative;
  top: calc(7vh + 48px + -1.5px);
  left: 8px;
}

.range-end {
  background-color: #44bbc8;
  width: 1.5vh;
  height: 1.5vh;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  position: absolute;
  top: calc(7vh + 48px + -1.5px);
  right: 8px;
}

.range-pin:after {
  content: ' %';
}


// 2020-12-07 변경된 UI
.term-button {
  width: 60vw;
  height: 8vh;
  padding: 0 4vw;
  background-color: #1178b4;
  border-radius: 6px;
  font-family: Roboto;
  font-size: 4vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: -0.55px;
  text-align: center;
  color: #ffffff;
}

.term-button_disable {
  width: 60vw;
  height: 8vh;
  padding: 0 4vw;
  background-color: #ecedef;
  border-radius: 6px;
  font-family: Roboto;
  font-size: 4vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: -0.55px;
  text-align: center;
  color: #bbbec2;
}

.moreInfo-term-font2 {
  font-family: Roboto;
  font-size: 4vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.51px;
  text-align: left;
  color: #2e2e2e;
}

// 복수형 질문 입력창
.term-add {
  width: 100%;
  height: calc(((100vw - 8vw)/12)*2);
  padding: 0 4vw;
  border: solid 1px #d2d5dc;
  border-radius: 4px;
}

.term-pulse-button {
  width: 100%;
  height: calc(((100vw - 8vw)/12)*2);
  background-color: #44bbc8;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  display: inline-grid;
}

.term-pulse-button-img {
  height: calc(((100vw - 8vw)/12)*1);
}

.multiple-term-list {
  width: 100%;
  padding: 0 4vw;
  border-radius: 4px;
  background-color: #f7f8f9;
  min-height: calc(((100vw - 8vw)/12)*1.8);
  align-items: center;
  margin-top: 1.5vh;
}

.close-term-img {
  height: calc(((100vw - 8vw)/12)/1.6);
  text-align: center;
}

.state-font {
  font-family: Roboto;
  font-size: 4.5vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.54px;
  color: #7e8da0;
}
