<app-page-header></app-page-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!--증상명-->
        <ion-grid>
          <ion-row>
            <ion-col class="diseaseNm">
              <span>우울증</span>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!--메인질문-->
        <ion-grid>
          <ion-row>
            <ion-col class="main-Q">
              <span>
                1. 지난 2주 동안 다음과 같은 문제를 얼마나 자주
                겪었는지 해당되는 란에 표시해 주시기 바랍니다.
              </span>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!--하위질문-->
        <ion-grid>
          <ion-row>
            <ion-col class="sub-Q">
              <span>
                1. 지난 2주 동안 다음과 같은 문제를 얼마나 자주
                겪었는지 해당되는 란에 표시해 주시기 바랍니다.
              </span>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!--답변 형식-->
        <ion-grid>
          <ion-row>
            <ion-col>
              <!--단답형 질문-->
<!--              <ion-grid>
                <ion-row>
                  <ion-col class="pdL4vw pdR4vw">
                    <input type="text" class="inputType1">
                  </ion-col>
                </ion-row>
              </ion-grid>-->
              <!--서술형 질문-->
<!--              <ion-grid>
                <ion-row>
                  <ion-col class="pdL4vw pdR4vw">
                    <textarea class="inputType2"></textarea>
                  </ion-col>
                </ion-row>
              </ion-grid>-->
              <!--복수 응답 질문-->
              <!--<ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-grid class="mgB1vh">
                      <ion-row class="pdR4vw pdL4vw">
                        <ion-col size="10" class="pdR1vw">
                          <input class="inputType3" [(ngModel)]="multipleAnswers.answer">
                        </ion-col>
                        <ion-col size="2" class="pulse-button" (click)="addMultipleAnswers('1-3')">
                          <ion-grid>
                            <ion-row>
                              <ion-col>
                                <img src="assets/image/psychological/Icon_plus_w.svg" class="pulse-button-img">
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                <ion-row *ngFor="let item of multipleAnswers.answers; let i = index">
                  <ion-col>
                    <ion-grid class="pdL4vw pdR4vw">
                      <ion-row class="multiple-answers-list">
                        <ion-col size="10" class="pdR1vw">
                          <span>{{item}}</span>
                        </ion-col>
                        <ion-col size="2">
                          <ion-grid>
                            <ion-row>
                              <ion-col>
                                <img src="assets/image/psychological/Icon_list_close.svg" class="list-close-img floatR" (click)="delMultipleAnswers(i, '1-3')">
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>-->
              <!--단답형 질문(숫자만 입력)-->
<!--              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-grid>
                      <ion-row>
                        <ion-col class="pdL4vw pdR4vw">
                          <input type="text" class="inputType1">
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>-->
              <!--단일 선택 질문-->
              <!--<ion-grid>
                <ion-row class="pdR4vw pdL4vw mgB3vh">
                  <ion-col>
                    <ion-grid>
                      <ion-row>
                        <ion-col size="1.5" class="align_center-flex">
                          &lt;!&ndash;<img src="assets/image/psychological/surveyRadioButton_c.svg">&ndash;&gt;
                          <img src="assets/image/psychological/surveyRadioButton_n.svg" class="surveyRadioButton_img">
                        </ion-col>
                        <ion-col size="10.5" class="radioType1">
                          <span>
                            보기1
                          </span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                <ion-row class="pdR4vw pdL4vw mgB3vh">
                  <ion-col>
                    <ion-grid>
                      <ion-row>
                        <ion-col size="1.5" class="align_center-flex">
                          &lt;!&ndash;<img src="assets/image/psychological/surveyRadioButton_c.svg">&ndash;&gt;
                          <img src="assets/image/psychological/surveyRadioButton_n.svg" class="surveyRadioButton_img">
                        </ion-col>
                        <ion-col size="10.5" class="radioType1">
                          <span>
                            보기1
                          </span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>-->
              <!--다중 선택 질문-->
              <!--<ion-grid>
                <ion-row class="pdR4vw pdL4vw mgB3vh">
                  <ion-col>
                    <ion-grid>
                      <ion-row>
                        <ion-col size="1.5" class="align_center-flex">
                          &lt;!&ndash;<img src="assets/image/psychological/surveyCheckbox_c.svg">&ndash;&gt;
                          <img src="assets/image/psychological/surveyCheckbox_n.svg" class="surveyRadioButton_img">
                        </ion-col>
                        <ion-col size="10.5" class="radioType1">
                          <span>
                            보기1
                          </span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                <ion-row class="pdR4vw pdL4vw mgB3vh">
                  <ion-col>
                    <ion-grid>
                      <ion-row>
                        <ion-col size="1.5" class="align_center-flex">
                          &lt;!&ndash;<img src="assets/image/psychological/surveyCheckbox_c.svg">&ndash;&gt;
                          <img src="assets/image/psychological/surveyCheckbox_n.svg" class="surveyRadioButton_img">
                        </ion-col>
                        <ion-col size="10.5" class="radioType1">
                          <span>
                            보기1
                          </span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>-->
              <!--단일 선택 질문 (드롭다운)-->
<!--              <ion-grid>
                <ion-row>
                  <ion-col class="pdL4vw pdR4vw">
                    <ion-select interface="action-sheet" class="dropdownType1">
                      <ion-select-option value="enable">Enable</ion-select-option>
                      <ion-select-option value="mute">Mute</ion-select-option>
                      <ion-select-option value="mute_week">Mute for a week</ion-select-option>
                      <ion-select-option value="mute_year">Mute for a year</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
              </ion-grid>-->
              <!--척도형 질문(단일선택)-->
              <!--<ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-grid>
                      <ion-row class="pdR4vw pdL4vw">
                        <ion-col>
                          <div class="radioType2">
                            <span>-3</span>
                          </div>
                        </ion-col>
                        <ion-col>
                          <div class="radioType2">
                            <span>-2</span>
                          </div>
                        </ion-col>
                        <ion-col>
                          <div class="radioType2">
                            <span>-1</span>
                          </div>
                        </ion-col>
                        <ion-col>
                          <div class="radioType2">
                            <span>0</span>
                          </div>
                        </ion-col>
                        <ion-col>
                          <div class="radioType2">
                            <span>1</span>
                          </div>
                        </ion-col>
                        <ion-col>
                          <div class="radioType2">
                            <span>2</span>
                          </div>
                        </ion-col>
                        <ion-col class="align_center-contents">
                          <div class="radioType2">
                            <span>3</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>-->
              <!--순위형 질문-->
              <!--<ion-grid class="pdL4vw pdR4vw">
                <ion-row>
                  <ion-col>
                    <ion-grid>
                      <ion-row class="listType1_1">
                        <ion-col>
                          <span>
                            보기1
                          </span>
                        </ion-col>
                      </ion-row>
                      <ion-row class="listType1_2">
                        <ion-col>
                          <span>
                            보기1
                          </span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-grid class="mgT3vh">
                      <ion-row>
                        <ion-col>
                          <div class="listType1_rank">
                            <span>
                              1. 보기1
                            </span>
                          </div>
                          <div class="listType1_rank">
                            <span>
                              1. 보기1
                            </span>
                          </div>
                          <div class="listType1_rank">
                            <span>
                              1. 보기1
                            </span>
                          </div>
                          <div class="listType1_rank">
                            <span>
                              1. 보기1
                            </span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>-->
              <!--날짜 질문-->
              <!--<ion-grid class="pdL4vw pdR4vw">
                <ion-row class="date-inputBox1">
                  <ion-col class="height100Per">
                    <ion-grid class="height100Per">
                      <ion-row class="height100Per">
                        <ion-col size="10" class="height100Per align_center-grid">
                          <ion-datetime class="datetimeType"
                                        displayFormat="YYYY- MM- DD"
                                        pickerFormat="YYYY-MM-DD"
                                        cancelText="취소" doneText="선택"
                                        placeholder="선택해주세요."
                          >
                          </ion-datetime>
                        </ion-col>
                        <ion-col size="2" class="mgAuto text_right pdR4vw">
                          <img src="assets/image/lifelog/Icon_date.svg" class="datetimeType">
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>-->
              <!--날짜 기간 질문 질문-->
<!--              <ion-grid class="pdL4vw pdR4vw">
                <ion-row>
                  <ion-col>
                    <span class="datetimeType-label">
                      시작
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row class="date-inputBox1">
                  <ion-col class="height100Per">
                    <ion-grid class="height100Per">
                      <ion-row class="height100Per">
                        <ion-col size="10" class="height100Per align_center-grid">
                          <ion-datetime class="datetimeType"
                                        displayFormat="YYYY- MM- DD"
                                        pickerFormat="YYYY-MM-DD"
                                        cancelText="취소" doneText="선택"
                                        placeholder="선택해주세요."
                          >
                          </ion-datetime>
                        </ion-col>
                        <ion-col size="2" class="mgAuto text_right pdR4vw">
                          <img src="assets/image/lifelog/Icon_date.svg" class="datetimeType">
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                <ion-row class="mgT4vh">
                  <ion-col>
                    <span class="datetimeType-label">
                      종료
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row class="date-inputBox1">
                  <ion-col class="height100Per">
                    <ion-grid class="height100Per">
                      <ion-row class="height100Per">
                        <ion-col size="10" class="height100Per align_center-grid">
                          <ion-datetime class="datetimeType"
                                        displayFormat="YYYY- MM- DD"
                                        pickerFormat="YYYY-MM-DD"
                                        cancelText="취소" doneText="선택"
                                        placeholder="선택해주세요."
                          >
                          </ion-datetime>
                        </ion-col>
                        <ion-col size="2" class="mgAuto text_right pdR4vw">
                          <img src="assets/image/lifelog/Icon_date.svg" class="datetimeType">
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
              &lt;!&ndash;시간 질문 질문&ndash;&gt;
              <ion-grid class="pdL4vw pdR4vw">
                <ion-row class="date-inputBox1">
                  <ion-col class="height100Per">
                    <ion-grid class="height100Per">
                      <ion-row class="height100Per">
                        <ion-col size="10" class="height100Per align_center-grid">
                          <ion-datetime class="datetimeType"
                                        displayFormat="HH:mm"
                                        pickerFormat="HH:mm"
                                        cancelText="취소" doneText="선택"
                                        placeholder="선택해주세요."
                          >
                          </ion-datetime>
                        </ion-col>
                        <ion-col size="2" class="mgAuto text_right pdR4vw">
                          <img src="assets/image/lifelog/Icon_time.svg" class="datetimeType">
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>-->
              <!--시간 기간 질문 질문-->
<!--              <ion-grid class="pdL4vw pdR4vw">
                <ion-row>
                  <ion-col>
                    <span class="datetimeType-label">
                      시작
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row class="date-inputBox1">
                  <ion-col class="height100Per">
                    <ion-grid class="height100Per">
                      <ion-row class="height100Per">
                        <ion-col size="10" class="height100Per align_center-grid">
                          <ion-datetime class="datetimeType"
                                        displayFormat="HH:mm"
                                        pickerFormat="HH:mm"
                                        cancelText="취소" doneText="선택"
                                        placeholder="선택해주세요."
                          >
                          </ion-datetime>
                        </ion-col>
                        <ion-col size="2" class="mgAuto text_right pdR4vw">
                          <img src="assets/image/lifelog/Icon_time.svg" class="datetimeType">
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                <ion-row class="mgT4vh">
                  <ion-col>
                    <span class="datetimeType-label">
                      종료
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row class="date-inputBox1">
                  <ion-col class="height100Per">
                    <ion-grid class="height100Per">
                      <ion-row class="height100Per">
                        <ion-col size="10" class="height100Per align_center-grid">
                          <ion-datetime class="datetimeType"
                                        displayFormat="HH:mm"
                                        pickerFormat="HH:mm"
                                        cancelText="취소" doneText="선택"
                                        placeholder="선택해주세요."
                          >
                          </ion-datetime>
                        </ion-col>
                        <ion-col size="2" class="mgAuto text_right pdR4vw">
                          <img src="assets/image/lifelog/Icon_time.svg" class="datetimeType">
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>-->
              <!--날짜 시간 설문 질문-->
<!--              <ion-grid class="pdL4vw pdR4vw">
                    <ion-row class="date-inputBox1">
                      <ion-col class="height100Per">
                        <ion-grid class="height100Per">
                          <ion-row class="height100Per">
                            <ion-col size="10" class="height100Per align_center-grid">
                              <ion-datetime class="datetimeType"
                                            displayFormat="YYYY- MM- DD"
                                            pickerFormat="YYYY-MM-DD"
                                            cancelText="취소" doneText="선택"
                                            placeholder="선택해주세요."
                              >
                              </ion-datetime>
                            </ion-col>
                            <ion-col size="2" class="mgAuto text_right pdR4vw">
                              <img src="assets/image/lifelog/Icon_date.svg" class="datetimeType">
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-col>
                    </ion-row>
                <ion-row class="date-inputBox1">
                  <ion-col class="height100Per">
                    <ion-grid class="height100Per">
                      <ion-row class="height100Per">
                        <ion-col size="10" class="height100Per align_center-grid">
                          <ion-datetime class="datetimeType"
                                        displayFormat="HH:mm"
                                        pickerFormat="HH:mm"
                                        cancelText="취소" doneText="선택"
                                        placeholder="선택해주세요."
                          >
                          </ion-datetime>
                        </ion-col>
                        <ion-col size="2" class="mgAuto text_right pdR4vw">
                          <img src="assets/image/lifelog/Icon_time.svg" class="datetimeType">
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                  </ion-grid>-->
              <!--날짜 시간 기간 설문 질문-->
              <!--<ion-grid class="pdR4vw pdL4vw mgB7vh mgT2vh">
                <ion-row>
                  <ion-col>
                    <span class="datetimeType-label">
                      시작
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row class="date-inputBox1">
                  <ion-col class="height100Per">
                    <ion-grid class="height100Per">
                      <ion-row class="height100Per">
                        <ion-col size="10" class="height100Per align_center-grid">
                          <ion-datetime class="datetimeType"
                                        displayFormat="YYYY- MM- DD"
                                        pickerFormat="YYYY-MM-DD"
                                        cancelText="취소" doneText="선택"
                                        placeholder="선택해주세요."
                          >
                          </ion-datetime>
                        </ion-col>
                        <ion-col size="2" class="mgAuto text_right pdR4vw">
                          <img src="assets/image/lifelog/Icon_date.svg" class="datetimeType">
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                <ion-row class="date-inputBox1">
                  <ion-col class="height100Per">
                    <ion-grid class="height100Per">
                      <ion-row class="height100Per">
                        <ion-col size="10" class="height100Per align_center-grid">
                          <ion-datetime class="datetimeType"
                                        displayFormat="HH:mm"
                                        pickerFormat="HH:mm"
                                        cancelText="취소" doneText="선택"
                                        placeholder="선택해주세요."
                          >
                          </ion-datetime>
                        </ion-col>
                        <ion-col size="2" class="mgAuto text_right pdR4vw">
                          <img src="assets/image/lifelog/Icon_time.svg" class="datetimeType">
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                <ion-row class="mgT4vh">
                  <ion-col>
                    <span class="datetimeType-label">
                      종료
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row class="date-inputBox1">
                  <ion-col class="height100Per">
                    <ion-grid class="height100Per">
                      <ion-row class="height100Per">
                        <ion-col size="10" class="height100Per align_center-grid">
                          <ion-datetime class="datetimeType"
                                        displayFormat="YYYY- MM- DD"
                                        pickerFormat="YYYY-MM-DD"
                                        cancelText="취소" doneText="선택"
                                        placeholder="선택해주세요."
                          >
                          </ion-datetime>
                        </ion-col>
                        <ion-col size="2" class="mgAuto text_right pdR4vw">
                          <img src="assets/image/lifelog/Icon_date.svg" class="datetimeType">
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                <ion-row class="date-inputBox1">
                  <ion-col class="height100Per">
                    <ion-grid class="height100Per">
                      <ion-row class="height100Per">
                        <ion-col size="10" class="height100Per align_center-grid">
                          <ion-datetime class="datetimeType"
                                        displayFormat="HH:mm"
                                        pickerFormat="HH:mm"
                                        cancelText="취소" doneText="선택"
                                        placeholder="선택해주세요."
                          >
                          </ion-datetime>
                        </ion-col>
                        <ion-col size="2" class="mgAuto text_right pdR4vw">
                          <img src="assets/image/lifelog/Icon_time.svg" class="datetimeType">
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>-->
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <!--버튼-->
  <ion-grid>
    <ion-row class="mgB5vh">
      <ion-col class="pdL4vw pdR2vw">
        <button class="lastNextButton">
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <img src="assets/image/psychological/Icon_surveyArrowleft.svg" class="lastNextButton-Img">
              </ion-col>
              <ion-col size="8">
                      <span class="lastNextButton-font1">
                        이전문항
                      </span>
              </ion-col>
              <ion-col size="2">

              </ion-col>
            </ion-row>
          </ion-grid>
        </button>
      </ion-col>
      <ion-col class="pdL2vw pdR4vw">
        <button class="lastNextButton">
          <ion-grid>
            <ion-row>
              <ion-col size="2">

              </ion-col>
              <ion-col size="8">
                      <span class="lastNextButton-font1">
                        다음문항
                      </span>
              </ion-col>
              <ion-col size="2">
                <img src="assets/image/psychological/Icon_surveyArrowright.svg" class="lastNextButton-Img">
              </ion-col>
            </ion-row>
          </ion-grid>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

