<app-page-header></app-page-header>

<ion-content class="pattern-background">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-grid class="countBox">
          <ion-row class="height20vw border-bottom">
            <ion-col size="3" class="lifePatternTitle"><span>카페인</span></ion-col>
            <ion-col size="9" class="align_center-grid pdL4vw">
              <div>
                <span class="diaryCountColor1">{{patternCount}}</span><span class="diaryCountColor2"> 건</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="pd5vw pattern-page">
          <ion-row>
            <ion-col>
              <ion-grid>
                <ion-row>
                  <ion-col class="pdB3vh">
                    <span class="pattern-text">1. 언제 섭취를 하셨나요?</span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="pdB5vh">
                    <div class="dayBox mgR3vw" [ngClass]="reportVo.day === 'MORNING'? 'on-day_pattern' : 'off-day_pattern'" (click)="selectDay('MORNING')">오전</div>
                    <div class="dayBox" [ngClass]="reportVo.day === 'AFTERNOON'? 'on-day_pattern' : 'off-day_pattern'" (click)="selectDay('AFTERNOON')">오후</div>
                    <div class="dayBox mgL3vw" [ngClass]="reportVo.day === 'NIGHT'? 'on-day_pattern' : 'off-day_pattern'" (click)="selectDay('NIGHT')">저녁(취침전)</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-grid>
                <ion-row>
                  <ion-col class="pdB3vh">
                    <span class="pattern-text">2. 어떤 종류로 얼마나 마셨는지 각 섭취 시점별로 입력해 주세요.</span>
                  </ion-col>
                </ion-row>
                <ion-row class="pdB3vh">
                  <ion-col class="pattern-select-box">
                    <ion-grid>
                      <ion-row class="width100Per">
                        <ion-col>
                          <ion-select value="notifications" interface="action-sheet" [(ngModel)]="reportVo.type">
                            <ion-select-option value="COFFEE">커피전문점 커피</ion-select-option>
                          </ion-select>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="pdB5vh">
                    <ion-grid class="pattern-input-border">
                      <ion-row class="height100Per align_center">
                        <ion-col size="10"><input class="pattern-input-box" [(ngModel)]="reportVo.count"></ion-col>
                        <ion-col size="2">잔</ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <button class="pattern-add-button" (click)="addReportConfirmAlert()">
                    <span>
                      추가
                    </span>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="reportList.length !== 0">
          <ion-row>
            <ion-col class="pd5vw">
              <ion-grid class="pattern-report-list-box">
                <ion-row class="pattern-report-header">
                  <ion-col>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <span>카페인 리포트</span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-grid>
                      <ion-row *ngFor="let dayItem of reportList let dayIndex = index">
                        <ion-col size="3" class="pattern-report-label">
                          <span>{{dayItem.dayNm}}</span>
                        </ion-col>
                        <ion-col size="9">
                          <ion-grid *ngFor="let itemList of dayItem.dataList; let dataIndex = index">
                            <ion-row>
                              <ion-col size="10" class="pattern-list-box pdL4vw">
                                <ion-grid>
                                  <ion-row>
                                    <ion-col class="pattern-caffenie-list-box1">
                                      <span>{{itemList.typeNm}}</span>
                                    </ion-col>
                                  </ion-row>
                                  <ion-row>
                                    <ion-col class="pattern-caffenie-list-box2">
                                      <span class="pattern-list-font1">{{itemList.count}}</span><span class="pattern-list-font2">잔</span>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </ion-col>
                              <ion-col size="2" class="pattern-list-box">
                                <img src="assets/image/pattern/Icon_trash.svg" (click)="delListConfirmAlert(dayIndex, dataIndex)">
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!--        <button [ngClass]="termList.length === selectedTerm.length ? 'common_button_active' : 'common_button'"
                        [disabled]="termList.length !== selectedTerm.length" (click)="signUp()">
                  다음
                </button>-->
        <button class="common_save_button">
          저장
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

