/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "assets/css/common/common.css";
@import "assets/css/common/font.css";
@import "assets/css/common/button.css";
@import "assets/css/common/input.css";
@import "assets/font/roboto.scss";

ion-grid {
  padding: 0;
}

ion-row {
  padding: 0;
}

ion-col {
  padding: 0;
}

.modal60per .modal-wrapper {
  height: 60%;
  top: 40%;
  position: absolute;
  display: block;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.moreInfoModal1 .modal-wrapper {
  height: 90%;
  width: 92%;
  top: 5%;
  position: absolute;
  display: block;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  border-bottom-left-radius: 3%;
}

.moreInfoModal2 .modal-wrapper {
  height: 74%;
  width: 92%;
  top: 9%;
  position: absolute;
  display: block;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  border-bottom-left-radius: 3%;
}

.symptomInfoModal .modal-wrapper {
  height: 70%;
  top: 15%;
  width: 90%;
  position: absolute;
  display: block;
  border-radius: 8px;
}

.signatureModal .modal-wrapper {
  height: 50%;
  top: 50%;
  position: absolute;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.autoLoginPopup .modal-wrapper {
  height: 90%;
  width: 92%;
  top: 5%;
  position: absolute;
  display: block;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  border-bottom-left-radius: 3%;
}


.tab-selected {
  color: #44bbc8 !important;
}
.ion-tab-bar-color {
  color: #262626 !important;
}

.sideMenu .modal-wrapper {
  right: 10%;
  height: 100%;
  width: 90%;
  top: 0%;
  position: absolute;
  display: block;
}

.button-native {
  background-color: #3a7be0;
}

ion-fab-button button {
    background-color: #3a7be0;
}


/*ALERT 창*/
.sc-ion-alert-md-h {
  --max-width: none;
}

.alert-wrapper.sc-ion-alert-md {
  width: 80vw;
}

.sc-ion-alert-ios-h{
  --max-width: none;
}

.alert-wrapper.sc-ion-alert-ios {
  width: 80vw;
}

.alert-input-group.sc-ion-alert-ios, .alert-message.sc-ion-alert-ios {
  padding-top: 4vh;
  padding-bottom: 5vh;
  padding-left: 8vw;
  text-align: left;
  padding-right: 8vw;
  max-height: none;
  font-size: 2.4vh;
}

.alert-button.sc-ion-alert-ios {
  border-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  flex: auto;
  height: 44px;
  background-color: transparent;
  color: var(--ion-color-primary,#3880ff);
  font-size: 17px;
  overflow: hidden;
  border-right: 0;
}

.alert-head.sc-ion-alert-ios {
  display: none;
}

.alert-button-inner.sc-ion-alert-ios {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding-right: 9vw;
  padding-bottom: 2vh;
  width: 100%;
  height: 100%;
  font-family: Roboto;
  font-size: 2vh;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.45px;
  text-align: center;
  color: #374761;
}

.alert-head.sc-ion-alert-md {
  display: none;
}

.alert-head.sc-ion-alert-md + .alert-message.sc-ion-alert-md {
  padding-top: 4vh;
  padding-bottom: 5vh;
  padding-left: 8vw;
  padding-right: 8vw;
  max-height: none;
}

.alert-button-inner.sc-ion-alert-md {
  -ms-flex-pack: end;
  font-family: Roboto;
  font-size: 2vh;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.45px;
  text-align: center;
  color: #374761;
}

.alert-button.sc-ion-alert-md {
  margin-right: 7vw;
}

.openedFab {
  /*  left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 995;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    pointer-events: none;*/
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  backdrop-filter: blur(6px);
}


/*선영 추가 -------------------------------------------*/
.irb-agree-modal-page .modal-wrapper{
  width: 95%;
  height: 80%;
  left: 5%;
  right: 5%;
  top: 16%;
  bottom: 16%;
  border-radius: 4px;
  .icon-inner {
    display: none !important;
  }
}

.irb-modal-title {
  font-family: Roboto;
  font-size: 2.6vh;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.48px;
  text-align: left;
  color: #333333;
}

.irb-modal-smaltitle {
  font-family: Roboto;
  font-size: 2.5vh;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.48px;
  text-align: left;
  color: #333333;
}

.irb-modal-notice {
  font-family: Roboto;
  font-size: 2.5vh;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: -0.48px;
  text-align: left;
  color: #333333;
  text-decoration: underline;
}

.irb-modal-text {
  font-family: Roboto;
  font-size: 2.5vh;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.48px;
  text-align: left;
  color: #2e2e2e;
  word-break: keep-all;
}

.emotion_info_modal .modal-wrapper{
  width: 80%;
  height: 46%;
  left: 10%;
  right: 10%;
  top: 27%;
  bottom: 27%;
  border-radius: 10px;
  //border: 1px solid #454545;
  //box-shadow: 0 3px 7px 0 rgba(72, 74, 82, 0.16);
  position: absolute;
  display: block;
}

/*---------------------------------------------------*/


// 자동 완성 백그라운드 색 제거
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
