.lifePatternTitle{
  text-align: center;
  align-items: center;
  display: grid;
  font-size: 1rem;
  font-weight: bold;
  color: #454545;
  border-right: 1px solid #eaebef;
}
.reportCountColor{
  font-weight: bold;
  font-size: 1.375rem;
  color: #44bbc8;
}
.pattern-report-list-box {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 3px 7px 0 rgba(72, 74, 82, 0.16);
  background-color: #ffffff;
}
.pattern-report-header {
  border-bottom: solid 1px #eeeff1;
  width: 100%;
  height: 7vh;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.59px;
  color: #262626;
}
.pattern-report-label {
  min-height: 8vh;
  background-color: #fcfcfd;
  text-align: left;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.59px;
  color: #262626;
  padding-left: 5vw;
  padding: 2vh;
  border-right: 1px solid #eeeff1;
}
.pattern-list-box {
  min-height: 8vh;
  align-items: center;
  display: flex;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.59px;
  color: #262626;
}

/*----------------------------------------------*/
.border-top{
  border-top: 1px solid #eaebef;
}
.border-bottom{
  border-bottom: 1px solid #eaebef;
}
.box_border_bottom{
  border-bottom: 1px solid #eeeff1;
}
.height20vw{
  height: 20vw;
}
.lineHeight20vw{
  line-height: 20vw;
}
.bkcolor_fcfcfd{
  background-color: #fcfcfd;
}
