<app-page-header></app-page-header>
<ion-content>
  <ion-grid [formGroup]="form">
    <ion-row>
      <ion-col class="pdR4vw pdL4vw">
        <ion-grid>
          <ion-row>
            <ion-col class="findPw-font1">
              <span>
                비밀번호를 잊으셨나요?
              </span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="findPw-font2">
              <span>
                가입당시 입력하셨던 정보를 입력해주세요.
              </span>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col class="findPw-font3">
              <span>
                아이디
              </span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-grid>
                <ion-row>
                  <ion-col size="9" class="findPw-inputBox"
                           [ngClass]="confirmInfo.userId
                            ? 'findPw-inputBox-disable' : ''">
                    <input class="findPw-input findPw-font4" formControlName="loginId"
                            [ngClass]="confirmInfo.userId
                            ? 'findPw-input-disable' : ''"
                            placeholder="아이디를 입력해주세요.">
                  </ion-col>
                  <ion-col size="3" class="pdL1vw">
                    <button class="findPw-button1"
                      [disabled]="form.controls.loginId.invalid || confirmInfo.userId" (click)="sendTempPw()"
                            [ngClass]="form.controls.loginId.invalid || confirmInfo.userId
                            ? 'findPw-button1' : 'findPw-button1_active'">
                      <span>확인</span>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="findPw-chage-box" *ngIf="confirmInfo.userId">
          <ion-row>
            <ion-col>
              <ion-grid>
                <ion-row>
                  <ion-col class="findPw-font3 pdT2vh">
                    <span>
                      임시 비밀번호 확인
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-grid>
                      <ion-row class="findPw-inputBox">
                        <ion-col size="10">
                          <ion-grid class="height100Per">
                            <ion-row class="height100Per">
                              <ion-col class="align_center-grid">
                                <input  class="findPw-input findPw-font4" type="{{tempPwInfo.pwType}}" formControlName="currPw">
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-col>
                        <ion-col size="2" class="mgAuto text_right">
                          <img src="assets/image/Icon_view_pw.svg" (click)="viewTempPassword()" *ngIf="tempPwInfo.pwType === 'password'">
                          <img src="assets/image/auth/Icon_view_pw_off.svg" (click)="viewTempPassword()" *ngIf="tempPwInfo.pwType === 'text'">
                        </ion-col>
                      </ion-row>
                      <ion-row *ngIf="!tempPwCheck()">
                        <ion-col class="pdT0_5vh">
                          <span class="errorMessage">{{tempPwInfo.errMessage}}</span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-grid>
                <ion-row>
                  <ion-col class="findPw-font3 pdT2vh">
                    <span>
                      새 비밀번호
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-grid>
                      <ion-row class="findPw-inputBox">
                        <ion-col size="10">
                          <ion-grid class="height100Per">
                            <ion-row class="height100Per">
                              <ion-col class="align_center-grid">
                                <input  class="findPw-input findPw-font4" type="{{newPwInfo.pwType}}" formControlName="newPw">
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-col>
                        <ion-col size="2" class="mgAuto text_right">
                          <img src="assets/image/Icon_view_pw.svg" (click)="viewPassword()" *ngIf="newPwInfo.pwType === 'password'">
                          <img src="assets/image/auth/Icon_view_pw_off.svg" (click)="viewPassword()" *ngIf="newPwInfo.pwType === 'text'">
                        </ion-col>
                      </ion-row>
                      <ion-row *ngIf="!newPwCheck()">
                        <ion-col class="pdT0_5vh">
                          <span class="errorMessage">{{newPwInfo.errMessage1}}</span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-grid>
                <ion-row>
                  <ion-col class="findPw-font3 pdT2vh">
                    <span>
                      새 비밀번호 확인
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-grid>
                      <ion-row class="findPw-inputBox">
                        <ion-col size="10">
                          <ion-grid class="height100Per">
                            <ion-row class="height100Per">
                              <ion-col class="align_center-grid">
                                <input  class="findPw-input findPw-font4" type="{{newPwInfo.pwType}}" formControlName="newPwChk">
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-col>
                        <ion-col size="2" class="mgAuto text_right">
                          <img src="assets/image/Icon_view_pw.svg" (click)="viewPassword()" *ngIf="newPwInfo.pwType === 'password'">
                          <img src="assets/image/auth/Icon_view_pw_off.svg" (click)="viewPassword()" *ngIf="newPwInfo.pwType === 'text'">
                        </ion-col>
                      </ion-row>
                      <ion-row *ngIf="!pwEqualCheck()">
                        <ion-col class="pdT0_5vh">
                          <span class="errorMessage">{{newPwInfo.errMessage2}}</span>
                        </ion-col>
                      </ion-row>
                      <ion-row class="pdT2vh pdB2vh">
                        <button class="findPw-button1"
                          [disabled]="!tempPwCheck() || !newPwCheck() || !pwEqualCheck()"
                            [ngClass]="!tempPwCheck() || !newPwCheck() || !pwEqualCheck() || form.invalid? 'findPw-button1' : 'findPw-button1_active'"
                              (click)="updatePwAfterChk()">
                          <span>비밀번호 변경</span>
                        </button>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
