<app-page-header></app-page-header>

<ion-content>
  <ion-grid [formGroup]="form" class="pdT4vh pdR4vw pdL4vw">
    <ion-grid class="mgB3vh">
      <ion-row class="mgB1vh">
        <ion-col class="pw-text">현재 비밀번호</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-grid class="pw-input-border">
            <ion-row class="height100Per align_center">
              <ion-col size="10">
                <input class="pw-input-box" type="{{currPwType}}"
                       placeholder="현재 비밀번호를 입력해주세요." formControlName="curentPw" maxlength="20"
                       (ngModelChange)="checkVal('curentPw')">
              </ion-col>
              <ion-col size="2">
                <img class="showPwImg" src="assets/image/auth/Icon_view_pw_off.svg" (click)="changeCurrPwType()" *ngIf="showMeCurrPw == 'Y'">
                <img class="showPwImg" src="assets/image/auth/Icon_view_pw.svg" (click)="changeCurrPwType()" *ngIf="showMeCurrPw == 'N'">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      <!--<ion-row *ngIf="isInvalid('curentPw')">
        <ion-col>
          <span class="errorMessage">현재 비밀번호는 8자리 이상 20자리 이하로 입력해주세요.</span>
        </ion-col>
      </ion-row>-->
    </ion-grid>

    <ion-grid class="mgB3vh">
      <ion-row class="mgB1vh">
        <ion-col class="pw-text">새 비밀번호</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-grid class="pw-input-border">
            <ion-row class="height100Per align_center">
              <ion-col size="10"><input class="pw-input-box" type="{{passwordType}}"
                              placeholder="새 비밀번호를 입력해주세요." formControlName="newPw" maxlength="20"
                              (ngModelChange)="checkVal('newPw')">
              </ion-col>
              <ion-col size="2">
                <img class="showPwImg" src="assets/image/auth/Icon_view_pw_off.svg" (click)="changePwType()" *ngIf="showMePw == 'Y'">
                <img class="showPwImg" src="assets/image/auth/Icon_view_pw.svg" (click)="changePwType()" *ngIf="showMePw == 'N'">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      <!--<ion-row *ngIf="isInvalid('newPw')">
        <ion-col>
          <span class="errorMessage">비밀번호는 8자리 이상 20자리 이하의 영어와 숫자와 특수문자 조합으로 만들어야합니다.</span>
        </ion-col>
      </ion-row>-->
    </ion-grid>

    <ion-grid class="mgB3vh">
      <ion-row class="mgB1vh">
        <ion-col class="pw-text">새 비밀번호 확인</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-grid class="pw-input-border">
            <ion-row class="height100Per align_center">
              <ion-col size="10">
                <input class="pw-input-box" type="{{passwordType}}"
                       placeholder="새 비밀번호를 한번 더 입력해주세요." formControlName="newPwConfirm" maxlength="20"
                       (ngModelChange)="checkVal('newPwConfirm')">
              </ion-col>
              <ion-col size="2">
                <img class="showPwImg" src="assets/image/auth/Icon_view_pw_off.svg" (click)="changePwType()" *ngIf="showMePw == 'Y'">
                <img class="showPwImg" src="assets/image/auth/Icon_view_pw.svg" (click)="changePwType()" *ngIf="showMePw == 'N'">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
     <!-- <ion-row *ngIf="isInvalid('newPwConfirm')">
        <ion-col>
          <span class="errorMessage">비밀번호가 동일하지 않습니다.</span>
        </ion-col>
      </ion-row>-->
    </ion-grid>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button [disabled]="form.invalid" class="common_save_button" [ngClass]="form.invalid? 'common_disabled_button' : 'common_save_button'">
          저장
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
