.panicDateInfo{
  height: 3.2rem;
  background-color: #fcfcfd;
  text-align: center;
  align-items: center;
  display: grid;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: bold;
  color: #454545;
  border-bottom: 1px solid #eeeff1;
}

.panicDiaryInput {
  align-items: center;
  width: 100%;
  height: 3.1rem;
  border-radius: 4px;
  border: solid 1px #d2d5dc;
  background-color: #ffffff;
  margin-top: 3vw;
  padding: 0 5vw;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.51px;
  text-align: left;
  color: #262626;
}

.panicDiaryInput:focus{outline: none;}

.panic_input_title_text{
  font-family: Roboto;
  font-size: 1rem;
  line-height: 1.31;
  letter-spacing: -0.51px;
  text-align: left;
  color: #2e2e2e;
}

.date-inputBox1 {
  width: 100%;
  height: 3.1rem;
  border: solid 1px #d2d5dc;
  margin-top: 1rem;
  border-radius: 4px;
  background-color: #ffffff;
  align-items: center;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

.datetimeType {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.51px;
  text-align: left;
  color: #262626;
  display: initial;
}

.panic_symptom_text{
  font-family: Roboto;
  font-size: 0.9375rem;
  line-height: 1.33;
  letter-spacing: -0.48px;
  text-align: left;
  color: #262626;
}

.panicSymptomPick{
  width: 100%;
  height: 3.1rem;
  border-radius: 4px;
  border: solid 1px #28a1ae;
  background-color: #effdff;
  margin-top: 3vw;
  padding: 0 5vw;
  color: #28a1ae;
}

.panicDiaryAddBtn{
  width: 100%;
  height: 3.1rem;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
}

.addOkBtn{
  background-color: #44bbc8;
}

.addNoBtn{
  background-color: #dbdde2;
}

.border-bottom{
  border-bottom: 1px solid #eaebef;
}

.diaryCountColor{
  font-size: 1.25rem;
  font-weight: bold;
  color: #44bbc8;
}
.panicDetailBox{
  margin: 6vw 5vw;
  border-radius: 12px;
  box-shadow: 0 3px 7px 0 rgba(72, 74, 82, 0.16);
  background-color: #ffffff;
}
.panicDetailText{
  font-family: Roboto;
  font-size: 1rem;
  color: #262626;
  align-items: center;
  display: flex;
}
.symtomListBox{
  word-break: keep-all;
  line-height: 2;
}
.symtomText{
  font-family: Roboto;
  font-size: 0.9375rem;
  font-weight: 500;
  letter-spacing: -0.56px;
  text-align: left;
  color: #3a4b5f;
  background-color: #f0f7ff;
  border-radius: 4px;
}

.panic-border-right{
  border-right: 1px solid #eeeff1;
}
.panic-border-bottom{
  border-bottom: 1px solid #eeeff1;
}
.button-display-none{
  border: none;
  background-color: #44bbc8;
}

.panicDiaryInput_etc{
  align-items: center;
  width: 100%;
  height: 3.1rem;
  border-radius: 4px;
  border: solid 1px #28a1ae;
  background-color: #ffffff;
  margin-top: 3vw;
  padding: 0 5vw;
}
.panic-input-box-etc {
  width: 100%;
  border: 0;
  text-align: left;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 0.9375rem;
  line-height: 1.33;
  letter-spacing: -0.48px;
  color: #262626;
}
.panic-input-box-etc:focus {outline:none;}

