.popup-login-button {
  border-top: solid 1px #d2d5dc;
  height: 7vh;
}

.popup-login-buttonL {
  font-family: Roboto;
  font-size: 2.3vh;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.45px;
  text-align: center;
  color: #262626;
  align-items: center;
  display: grid;
  border-right: solid 1px #d2d5dc;
}

.popup-login-buttonR {
  font-family: Roboto;
  font-size: 2.3vh;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.45px;
  text-align: center;
  color: #262626;
  align-items: center;
  display: grid;
}
