.panicDateInfo{
  height: 3.2rem;
  background-color: #ffffff;
  text-align: center;
  align-items: center;
  display: grid;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: bold;
  color: #454545;
}

.height4_8rem{
  height: 4.8rem;
}

.lifePatternTitle{
  text-align: center;
  align-items: center;
  display: grid;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: bold;
  color: #454545;
  border-right: 1px solid #eaebef;
}

.diaryCountColor1{
  font-weight: bold;
  font-size: 1.375rem;
  color: #44bbc8;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: -0.66px;
  padding-left: 5vw;
}

.diaryCountColor2{
  font-size: 1rem;
  color: #44bbc8;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: -0.66px;
  color: #454545;
}

.countBox {
  width: 100%;
  border: solid 1px #eaebef;
  background-color: #ffffff;
}

.dayBox {
  width: 28vw;
  height: 3.2rem;
  border-radius: 4px;
  align-items: center;
  display: inline-grid;
  text-align: center;
  font-family: Roboto;
  font-size: 0.9375rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}

.off-day_pattern {
  border: solid 1px #dfe3ec;
  background-color: #f7f8fa;
  color: #333333;
}

.on-day_pattern {
  border: solid 1px #44bbc8;
  background-color: #effdff;
  color: #28a1ae;
}

.pattern-text {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.51px;
  text-align: left;
  color: #2e2e2e;
}


