.lifelog-date-active {
  width: 100%;
  height: 6vh;
  border-radius: 4px;
  border: solid 1px #28a1ae;
  background-color: #effdff;
  font-family: Roboto;
  font-size: 2.5vh;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: -0.51px;
  color: #28a1ae;
  align-items: center;
  text-align: center;
  display: grid;
}

.lifelog-date {
  width: 100%;
  height: 6vh;
  border-radius: 4px;
  border: solid 1px #cfd3d9;
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 2.5vh;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: -0.51px;
  color: #3a4b5f;
  align-items: center;
  text-align: center;
  display: grid;
}

/*라이프로그 리스트*/
.lifelog-select-date {
  background-color: #ffffff;
}

.lifelog-select-date2 {
  text-align: center;
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: #ffffff;
  padding-top: 1vh;
  padding-bottom: 2vh;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
}

.lifelog-select-date-font {
  font-family: Roboto;
  font-size: 4vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: -0.95px;
  text-align: left;
  color: #333333;

}

.lifelog-chart-box {
  width: 100%;
  height: 21vh;
  background-color: #ffffff;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
}

.lifelog-page {
  background-color: #fcfcfd;
  border-top: solid 1px #dcdcdc;
  height: 100vh;
}

.lifelog-LR-img {
  width: 3vw;
}

.lifelog-list-header {
  width: 100%;
  height: 7.5vh;
  padding: 0 4vw;
  align-items: center;
  background-color: #3a4b5f;
  font-family: Roboto;
  font-size: 3.74vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.58px;
  text-align: left;
  color: #ffffff;
}

.lifelog-list-date-box {
  width: 100%;
  height: 10vh;
  border: solid 1px #d2d5dc;
  background-color: #ffffff;
}

.lifelog-list-date {
  align-items: center;
  display: grid;
  padding-left: 4vw;
  padding-right: 4vw;
  font-family: Roboto;
  font-size: 4vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.73;
  letter-spacing: -0.84px;
  text-align: left;
  color: #262626;
}

.lifelog-list-value1 {
  font-size: 5vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: -0.72px;
  text-align: left;
  color: #44bbc8;
}

.lifelog-list-value2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.5px;
  text-align: left;
  color: #7e8da0;
  padding-left: 3vw;
}

.lifelog-next-img2 {
  width: 3vw;
}


/*심박수*/

.pulse-card-box {
  width: 100%;
  height: calc((100vw/2) - 12vw);
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  padding: 2vh 0;
}

.pulse-card-1 {
  height: 25%;
  align-items: center;
  padding: 0 4vw;
}

.pulse-card-1-font {
  font-family: Roboto;
  font-size: 4vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: -0.51px;
  text-align: left;
  color: #262626;
  padding-left: 2vw;
}

.pulse-card-2 {
  height: 50%;
  align-items: center;
  text-align: center;
}

.pulse-card-2-font1 {
  font-family: Roboto;
  font-size: 10vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -1.04px;
  text-align: left;
  color: #3a4b5f;
}

.pulse-card-2-font2 {
  font-family: Roboto;
  font-size: 5vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: -0.68px;
  text-align: left;
  color: #7e8da0;
  padding-left: 2vw;
}

.pulse-card-3 {
  height: 25%;
  align-items: center;
  text-align: center;
}

.pulse-card-3-font {
  width: 33vw;
  height: 27px;
  border-radius: 4px;
  background-color: #f7f8f9;
  font-family: Roboto;
  font-size: 3.4vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.54px;
  color: #262626;
  align-items: center;
  display: grid;
}





.sleep-chart1 {
  width: 100%;
  height: 1.4vh;
  margin: 0 2px 6.5px 0;
  background-color: #0864ac;
  border-radius: 5px 0 0 5px;
}

.sleep-chart2 {
  width: 100%;
  height: 1.4vh;
  margin: 0 2px 6.5px 0;
  background-color: #90bfe4;
}

.sleep-chart3 {
  width: 100%;
  height: 1.4vh;
  margin: 0 2px 6.5px 0;
  background-color: #0864ac;
}

.sleep-chart4 {
  width: 100%;
  height: 1.4vh;
  margin: 0 2px 6.5px 0;
  background-color: #cfd5e4;
}

.sleep-chart5 {
  width: 100%;
  height: 1.4vh;
  margin: 0 2px 6.5px 0;
  background-color: #ff6f6f;
  border-radius: 0 5px 5px 0;
}

.sleep-chart-padding {
  padding-left: 0.5vw;
}


.sleep-chart-per {
  font-family: Roboto;
  font-size: 3.5vw;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #262626;
}

.sleep-font1 {
  font-family: Roboto;
  font-size: 8vw;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -1.12px;
  text-align: left;
  color: #3a4b5f;

}

.sleep-font2 {
  font-family: Roboto;
  font-size: 5vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: -0.72px;
  text-align: left;
  color: #7e8da0;
  padding-left: 1.5vw;
  padding-right: 6vw;
}

.sleep-type-box {
  width: 100%;
  height: 9vh;
  padding: 0 4vw;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.sleep-type-img {
  width: 3.5vw;
}

.sleep-type-font1 {
  font-family: Roboto;
  font-size: 4vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #3a4b5f;
}

.sleep-type-font2 {
  font-family: Roboto;
  font-size: 5.2vw;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.72px;
  text-align: left;
  color: #3a4b5f;
  padding-left: 3vw;
}

.sleep-type-font3 {
  font-family: Roboto;
  font-size: 4vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.5px;
  text-align: left;
  color: #7e8da0;
  padding-left: 2vw;
}

.sleep-type-font4 {
  font-family: Roboto;
  font-size: 5.2vw;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.72px;
  text-align: left;
  padding-left: 3vw;
  font-weight: 500;
  color: #7e8da0;
}
