<app-main-header></app-main-header>
<ion-content [fullscreen]="true">
  <div  class="openedFab" *ngIf="fabButtonOpened"></div>
  <ion-grid class="main-page">
    <ion-row>
      <ion-col>
        <ion-grid class="main-card-box">
          <ion-row>
            <ion-col>
              <ion-grid>
                <ion-row>
                  <ion-col class="position-relative">
                    <img src="assets/image/main/top_background.svg" class="width100vw">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
          <ion-row class="main-card1-position">
            <ion-col>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-grid class="main-header-box">
                      <ion-row>
                        <ion-col class="main-header-name pdL4vw">
                          <span>{{userInfo.firstName}}{{userInfo.lastName}}님, 좋은 아침 입니다!</span>
                        </ion-col>
                      </ion-row>
                      <ion-row class="mgT1vh">
                        <ion-col class="main-header-time">
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="pd4vw">
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-grid class="main-card1">
                            <ion-row class="main-card1-header">
                              <ion-col class="text_left pdL4vw">
                                <span>최근 증상</span>
                              </ion-col>
                              <ion-col class="text_right pdR4vw" (click)="openModal()">
                                <img src="assets/image/main/icon_help.svg">
                              </ion-col>
                            </ion-row>
                            <ion-row class="main-card1-body">
                              <ion-col>
                                <ion-grid>
                                  <ion-row class="main-card1-date1">
                                    <ion-col>
                                      <span>{{getDate('YYYY년 MM월')}}</span>
                                    </ion-col>
                                  </ion-row>
                                  <ion-row class="main-card1-date2">
                                    <ion-col *ngFor="let item of calendarInfo.weekDay; let i = index"
                                             [ngClass]="setWeekDayColor('weekDay', i)">
                                      <span>{{item.weekDay}}</span>
                                    </ion-col>
                                  </ion-row>
                                  <ion-row class="main-card1-date3">
                                    <ion-col *ngFor="let item of calendarInfo.day; let i = index"
                                             [ngClass]="setWeekDayColor('day', i)">
                                      <span>{{item.day}}</span>
                                    </ion-col>
                                  </ion-row>
                                  <ion-row>
                                    <ion-col><div class="main-card1-date3-line"></div></ion-col>
                                  </ion-row>
                                  <ion-row>
                                    <ion-col *ngFor="let item of calendarInfo.day; let i = index">
                                      <div
                                              class="main-card1-date3-point main-card1-date3-point"
                                              [ngClass]="setWeekDayColor('panic', i)">
                                      </div>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </ion-col>
                            </ion-row>
                            <ion-row class="main-card1-psychological">
                              <ion-col size="2.9" class="pdL3vw main-card1-psychological-label">
                                <span>기분</span>
                              </ion-col>
                              <ion-col size="1.3">
                                <div
                                        [ngClass]="dailyEmotion.felling.negative !== null && dailyEmotion.felling.negative === -3 ?
                                'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>-3</span>
                                </div>
                              </ion-col>
                              <ion-col size="1.3">
                                <div
                                        [ngClass]="dailyEmotion.felling.negative !== null && dailyEmotion.felling.negative === -2 ?
                                'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>-2</span>
                                </div>
                              </ion-col>
                              <ion-col size="1.3">
                                <div
                                        [ngClass]="dailyEmotion.felling.negative !== null && dailyEmotion.felling.negative === -1 ?
                                'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>-1</span>
                                </div>
                              </ion-col>
                              <ion-col size="1.3">
                                <div
                                        [ngClass]="dailyEmotion.felling.negative === 0 && dailyEmotion.felling.positive === 0 ?
                                'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>0</span>
                                </div>
                              </ion-col>
                              <ion-col size="1.3">
                                <div
                                        [ngClass]="dailyEmotion.felling.positive !== null && dailyEmotion.felling.positive === 1 ?
                            'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>1</span>
                                </div>
                              </ion-col>
                              <ion-col size="1.3">
                                <div
                                        [ngClass]="dailyEmotion.felling.positive !== null && dailyEmotion.felling.positive === 2 ?
                            'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>2</span>
                                </div>
                              </ion-col>
                              <ion-col size="1.3">
                                <div
                                        [ngClass]="dailyEmotion.felling.positive !== null && dailyEmotion.felling.positive === 3 ?
                            'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>3</span>
                                </div>
                              </ion-col>
                            </ion-row>
                            <ion-row class="main-card1-psychological">
                              <ion-col size="2.9" class="pdL3vw main-card1-psychological-label">
                                <span>에너지</span>
                              </ion-col>
                              <ion-col size="1.3">
                                <div
                                        [ngClass]="dailyEmotion.energy.negative !== null && dailyEmotion.energy.negative === -3 ?
                            'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>-3</span>
                                </div>
                              </ion-col>
                              <ion-col size="1.3">
                                <div
                                        [ngClass]="dailyEmotion.energy.negative !== null && dailyEmotion.energy.negative === -2 ?
                            'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>-2</span>
                                </div>
                              </ion-col>
                              <ion-col size="1.3">
                                <div
                                        [ngClass]="dailyEmotion.energy.negative !== null && dailyEmotion.energy.negative === -1 ?
                            'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>-1</span>
                                </div>
                              </ion-col>
                              <ion-col size="1.3">
                                <div
                                        [ngClass]="dailyEmotion.energy.negative === 0 && dailyEmotion.energy.positive === 0 ?
                                'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>0</span>
                                </div>
                              </ion-col>
                              <ion-col size="1.3">
                                <div
                                        [ngClass]="dailyEmotion.energy.positive !== null && dailyEmotion.energy.positive === 1 ?
                            'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>1</span>
                                </div>
                              </ion-col>
                              <ion-col size="1.3">
                                <div
                                        [ngClass]="dailyEmotion.energy.positive !== null && dailyEmotion.energy.positive === 2 ?
                            'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>2</span>
                                </div>
                              </ion-col>
                              <ion-col size="1.3">
                                <div
                                        [ngClass]="dailyEmotion.energy.positive !== null && dailyEmotion.energy.positive === 3 ?
                            'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>3</span>
                                </div>
                              </ion-col>
                            </ion-row>
                            <ion-row class="main-card1-psychological">
                              <ion-col size="2.9" class="pdL3vw main-card1-psychological-label">
                                <span>불안</span>
                              </ion-col>
                              <ion-col size="2.275">
                                <div
                                        [ngClass]="dailyEmotion.unrest !== null && dailyEmotion.unrest === 0 ?
                            'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>0</span>
                                </div>
                              </ion-col>
                              <ion-col size="2.275">
                                <div class=" mgAuto mgL2vw"
                                     [ngClass]="dailyEmotion.unrest !== null && dailyEmotion.unrest === 1 ?
                            'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>1</span>
                                </div>
                              </ion-col>
                              <ion-col size="2.275">
                                <div class=" mgAuto mgL4vw"
                                     [ngClass]="dailyEmotion.unrest !== null && dailyEmotion.unrest === 2 ?
                            'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>2</span>
                                </div>
                              </ion-col>
                              <ion-col size="2.275">
                                <div class=" floatR mgR3vw"
                                     [ngClass]="dailyEmotion.unrest !== null && dailyEmotion.unrest === 3 ?
                            'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>3</span>
                                </div>
                              </ion-col>
                            </ion-row>
                            <ion-row class="main-card1-psychological-last">
                              <ion-col size="2.9" class="pdL3vw main-card1-psychological-label">
                                <span>짜증</span>
                              </ion-col>
                              <ion-col size="2.275">
                                <div
                                        [ngClass]="dailyEmotion.petulance !== null && dailyEmotion.petulance === 0 ?
                            'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>0</span>
                                </div>
                              </ion-col>
                              <ion-col size="2.275">
                                <div class=" mgAuto mgL2vw"
                                     [ngClass]="dailyEmotion.petulance !== null && dailyEmotion.petulance === 1 ?
                            'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>1</span>
                                </div>
                              </ion-col>
                              <ion-col size="2.275">
                                <div class="mgAuto mgL4vw"
                                     [ngClass]="dailyEmotion.petulance !== null && dailyEmotion.petulance === 2 ?
                            'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>2</span>
                                </div>
                              </ion-col>
                              <ion-col size="2.275">
                                <div class="floatR mgR3vw"
                                     [ngClass]="dailyEmotion.petulance !== null && dailyEmotion.petulance === 3 ?
                            'main-card1-psychological-button1_active' : 'main-card1-psychological-button1'">
                                  <span>3</span>
                                </div>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                <ion-row  [hidden]="weekSurveyForChart.length === 0">
                  <ion-col class="pd4vw">
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-grid class="main-card1">
                            <ion-row class="main-card1-header">
                              <ion-col class="text_left pdL4vw">
                                <span>설문 참여 현황</span>
                              </ion-col>
                            </ion-row>
                            <ion-row class="main-card2-body">
                              <ion-col>
                                <ion-grid class="height100Per">
                                  <ion-row class="height100Per">
                                    <ion-col>
                                      <ion-grid>
                                        <ion-row style="height: 27vh">
                                          <ion-col size="6" [hidden]="weekSurveyForChart.length < 1">
                                            <ion-grid class="height100Per">
                                              <ion-row class="main-card2-chart">
                                                <ion-col class="pd2vw height100Per">
                                                  <canvas #chartView1 style="height: 100%"></canvas>
                                                </ion-col>
                                              </ion-row>
                                              <ion-row class="main-card2-report" *ngIf="weekSurveyForChart.length >= 1">
                                                <ion-col>
                                                  {{weekSurveyForChart[0]}}주간 설문
                                                </ion-col>
                                              </ion-row>
                                            </ion-grid>
                                          </ion-col>
                                          <ion-col size="6"  [hidden]="weekSurveyForChart.length < 2">
                                            <ion-grid class="height100Per">
                                              <ion-row class="main-card2-chart">
                                                <ion-col class="pd2vw height100Per">
                                                  <canvas #chartView2 style="height: 100%"></canvas>
                                                </ion-col>
                                              </ion-row>
                                              <ion-row class="main-card2-report" *ngIf="weekSurveyForChart.length >= 2">
                                                <ion-col>
                                                  {{weekSurveyForChart[1]}}주간 설문
                                                </ion-col>
                                              </ion-row>
                                            </ion-grid>
                                          </ion-col>
                                        </ion-row>
                                        <ion-row  style="height: 27vh"  [hidden]="weekSurveyForChart.length < 3">
                                          <ion-col size="6">
                                            <ion-grid class="height100Per">
                                              <ion-row class="main-card2-chart">
                                                <ion-col class="pd2vw height100Per">
                                                  <canvas #chartView3 style="height: 100%"></canvas>
                                                </ion-col>
                                              </ion-row>
                                              <ion-row class="main-card2-report" *ngIf="weekSurveyForChart.length >= 3">
                                                <ion-col>
                                                  {{weekSurveyForChart[2]}}주간 설문
                                                </ion-col>
                                              </ion-row>
                                            </ion-grid>
                                          </ion-col>
                                          <ion-col size="6"  [hidden]="weekSurveyForChart.length < 4">
                                            <ion-grid class="height100Per">
                                              <ion-row class="main-card2-chart">
                                                <ion-col class="pd2vw height100Per">
                                                  <canvas #chartView4 style="height: 100%"></canvas>
                                                </ion-col>
                                              </ion-row>
                                              <ion-row class="main-card2-report" *ngIf="weekSurveyForChart.length >= 4">
                                                <ion-col>
                                                  {{weekSurveyForChart[3]}}주간 설문
                                                </ion-col>
                                              </ion-row>
                                            </ion-grid>
                                          </ion-col>
                                        </ion-row>
                                      </ion-grid>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                <ion-row class="mgB15vh">
                  <ion-col>
                    <ion-grid class="pd5vw">
                      <ion-row class="main-card3-header">
                        <ion-col>
                          <span>오늘 하루 어떠셨나요?</span>
                        </ion-col>
                      </ion-row>
                      <ion-row class="main-card3-list-box" (click)="getToPage('diary')">
                        <ion-col>
                          <ion-row>
                            <ion-col size="7" class="main-card3-list1">
                              <span>오늘 설문</span>
                            </ion-col>
                            <ion-col size="4" class="main-card3-list2">
                              <span>참여하기</span>
                            </ion-col>
                            <ion-col size="1" class="text_center">
                              <img src="assets/image/Icon_arrow_next.svg" class="main-card3-list-img">
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                      <ion-row class="main-card3-list-box" (click)="getToPage('scale')" *ngIf="mainInfo.surveyLastDay !== null">
                        <ion-col>
                          <ion-row>
                            <ion-col size="7" class="main-card3-list1">
                              <span>주간 설문</span>
                            </ion-col>
                            <ion-col size="4" class="main-card3-list2">
                              <span>D - <b class="d-day-num">{{mainInfo.surveyLastDay}}</b></span>
                            </ion-col>
                            <ion-col size="1" class="text_center">
                              <img src="assets/image/Icon_arrow_next.svg" class="main-card3-list-img">
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

























<!--  <p style="font-size: 100px">
    home
  </p>
  <p style="font-size: 100px" (click)="test()">
    테스트 클릭
  </p>-->
  <app-fab (fabOpened)="fabHandler($event)"></app-fab>
</ion-content>
