.emotionInfoText {
  font-family: Roboto;
  font-size: 0.9375rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: -0.48px;
  text-align: left;
  color: #707070;
  word-break: keep-all;
}
