<ion-content>
  <ion-grid>
    <ion-row class="pdT2vh">
      <ion-col size="10"></ion-col>
      <ion-col class="text_center align_center-grid" size="2" (click)="dismiss()">
        <img src="assets/image/diary/Icon_del.svg">
      </ion-col>
    </ion-row>
    <ion-row class="pd5vw">
      <ion-col class="emotionInfoText" *ngIf="type === 'feeling'">
        <span>
          당신의 오늘 기분을 알려주세요.<br>
          만약 종일 기분이 좋았다면 최고로 좋았던 순간만 입력하시고, 종일 기분이 나빴다면 최고로 나빴던 순간만 입력해주세요.<br>
          만일, 하루 중 두개의 기분이 모두 느꼈다면, 최고로 좋았던 순간과 최고로 나빴던 순간을 모두 입력해주세요.
        </span>
      </ion-col>
      <ion-col class="emotionInfoText" *ngIf="type === 'energy'">
        <span>
          당신의 오늘 에너지 상태를 알려주세요.<br>
          만약 종일 기운이 넘쳤다면 최고로 기운이 넘쳤던 순간만 입력하시고, 종일 기운이 없었다면 최고로 기운이 없었던 순간만 입력해주세요.<br>
          만일, 하루 중 기운의 넘쳤다가 없어지거나, 기운이 없다가 넘쳤다면 최고로 기운이 넘쳤던 순간과 최고로 기운이 없었던 순간을 모두 입력해주세요.
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
