.panicDateInfo{
  height: 3.2rem;
  background-color: #ffffff;
  text-align: center;
  align-items: center;
  display: grid;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: bold;
  color: #454545;
}

.height4_8rem{
  height: 4.8rem;
}

.lifePatternTitle{
  text-align: center;
  align-items: center;
  display: grid;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: bold;
  color: #454545;
  border-right: 1px solid #eaebef;
}

.diaryCountColor1{
  font-weight: bold;
  font-size: 1.375rem;
  color: #44bbc8;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: -0.66px;
  padding-left: 5vw;
}

.diaryCountColor2{
  font-size: 1rem;
  color: #44bbc8;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: -0.66px;
  color: #454545;
}

.countBox {
  width: 100%;
  border: solid 1px #eaebef;
  background-color: #ffffff;
}

.dayBox {
  width: 28vw;
  height: 3.2rem;
  border-radius: 4px;
  align-items: center;
  display: inline-grid;
  text-align: center;
  font-family: Roboto;
  font-size: 0.9375rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}

.off-day_pattern {
  border: solid 1px #dfe3ec;
  background-color: #f7f8fa;
  color: #333333;
}

.on-day_pattern {
  border: solid 1px #44bbc8;
  background-color: #effdff;
  color: #28a1ae;
}

.pattern-select-box {
  display: flex;
  border: solid 1px #d2d5dc;
  background-color: #ffffff;
  height: 3.2rem;
  align-items: center;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.51px;
  text-align: left;
  color: #262626;
}

.pattern-input-border {
  width: 100%;
  height: 3.2rem;
  border: solid 1px #d2d5dc;
  background-color: #ffffff;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.51px;
  text-align: left;
  color: #262626;
}

.pattern-input-box {
  border: 0;
  //padding-left: 4vw;
  padding-right: 3vw;
  text-align: right;
  border-radius: 4px;
}
.pattern-input-box:focus {outline:none;}

.pattern-input-box-etc {
  width: 100%;
  border: 0;
  padding-left: 4vw;
  padding-right: 4vw;
  text-align: left;
  border-radius: 4px;
}
.pattern-input-box-etc:focus {outline:none;}

.pattern-add-button {
  display: grid;
  width: 100%;
  height: 3.2rem;
  border-radius: 4px;
  background-color: #44bbc8;
  align-items: center;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.58px;
  text-align: center;
  color: #ffffff;
}

.pattern-report-list-box {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 3px 7px 0 rgba(72, 74, 82, 0.16);
  background-color: #ffffff;
}

.pattern-report-header {
  border-bottom: solid 1px #eeeff1;
  width: 100%;
  height: 3.2rem;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.59px;
  color: #262626;
}

.pattern-report-label {
  min-height: 3.2rem;
  background-color: #eff1f5;
  text-align: left;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.59px;
  color: #262626;
  padding-left: 5vw;
  padding: 2vh;
  border-bottom: 1px solid #eaebef;
}

.pattern-list-box {
  align-items: center;
  display: flex;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.59px;
  color: #262626;
}

.pattern-background {
  --background: #fcfcfd;
}

.pattern-page {
  width: 100%;
  margin: 0 0 16px;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

.pattern-text {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.51px;
  text-align: left;
  color: #2e2e2e;
}

.pattern-list-font1 {
  font-family: Roboto;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  color: #44bbc8;
  letter-spacing: -0.13px;
  text-align: left;
}

.pattern-list-font2 {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.59px;
  color: #262626;
  text-align: left;
  padding-left: 2vw;
}

.pattern-drink-list-box1 {
  padding-top: 1.5vh;
  padding-bottom: 1vh;
  align-items: center;
  display: flex;
}

.pattern-drink-list-box2 {
  padding-bottom: 1.5vh;
  align-items: center;
  display: inline-block;
}

ion-select {
  width: 100% !important;
}

.border-bottom{
  border-bottom: solid 1px #eeeff1;
}
