<app-page-header></app-page-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-grid class="alarm-page">
          <ion-row>
            <ion-col class="pd4vw">
              <ion-grid class="alarm-list-box">
                <ion-row>
                  <ion-col>
                    <ion-grid class="alarm-date">
                      <ion-row>
                        <ion-col>
                          <span>2020년 08월 24일</span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    <ion-grid>
                      <ion-row>
                        <ion-col size="1" class="alarm-sym-icon">
                          <img src="assets/image/alarm/ntfctIcon.svg" class="alarm-sym-icon-img">
                        </ion-col>
                        <ion-col size="9">
                          <ion-grid>
                            <ion-row class="alarm-list">
                              <ion-col>
                                <span class="alarm-text">안녕하세요 홍길동님</span>
                              </ion-col>
                            </ion-row>
                            <ion-row class="alarm-list">
                              <ion-col>
                                <span class="alarm-text">내 건강을 위한 기록과 관리를 시작해보세요.</span>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-col>
                        <ion-col size="2" class="alarm-list-date">
                          <span>AM 08:59</span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="pd4vw">
              <ion-grid class="alarm-list-box">
                <ion-row>
                  <ion-col>
                    <ion-grid class="alarm-date">
                      <ion-row>
                        <ion-col>
                          <span>2020년 08월 24일</span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    <ion-grid>
                      <ion-row>
                        <ion-col size="1" class="alarm-sym-icon">
                          <img src="assets/image/alarm/ntfctIcon.svg" class="alarm-sym-icon-img">
                        </ion-col>
                        <ion-col size="9">
                          <ion-grid>
                            <ion-row class="alarm-list">
                              <ion-col>
                                <span class="alarm-text">안녕하세요 홍길동님</span>
                              </ion-col>
                            </ion-row>
                            <ion-row class="alarm-list">
                              <ion-col>
                                <span class="alarm-text">내 건강을 위한 기록과 관리를 시작해보세요.</span>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-col>
                        <ion-col size="2" class="alarm-list-date">
                          <span>AM 08:59</span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
