<app-page-header></app-page-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-grid class="countBox">
          <ion-row class="height20vw border-bottom">
            <ion-col size="3" class="lifePatternTitle"><span>생리</span></ion-col>
            <ion-col size="9" class="align_center-grid pdL4vw">
              <div>
                <!--<span class="diaryCountColor1">{{patternCount}}</span><span class="diaryCountColor2"> 건</span>-->
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="pd5vw">
          <ion-row>
            <ion-col>
              <ion-grid>
                <ion-row>
                  <ion-col class="pdB3vh">
                    <span class="pattern-text">1. 오늘 생리를 하셨나요?</span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="pdB2vh">
                    <div class="dayBox mgR3vw" [ngClass]="reportList.physiologyYn === 'Y'? 'on-day_pattern' : 'off-day_pattern'" (click)="selectPhysiologyInfo('Y')"><span>네</span></div>
                    <div class="dayBox" [ngClass]="reportList.physiologyYn === 'N'? 'on-day_pattern' : 'off-day_pattern'" (click)="selectPhysiologyInfo('N')"><span>아니오</span></div>
                    <div class="dayBox mgL3vw" [ngClass]="reportList.physiologyYn === 'NONE'? 'on-day_pattern' : 'off-day_pattern'" (click)="selectPhysiologyInfo('NONE')"><span>해당없음</span></div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!--        <button [ngClass]="termList.length === selectedTerm.length ? 'common_button_active' : 'common_button'"
                        [disabled]="termList.length !== selectedTerm.length" (click)="signUp()">
                  다음
                </button>-->
        <button class="common_save_button">
          저장
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

