// FONT


.psychological-title{
  font-size: 2.6vh;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: -0.51px;
  text-align: left;
  color: #ffffff;
  align-items: center;
  display: grid;
}

.psychological-fon1 {
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.51px;
  text-align: left;
  color: #3a4b5f;
}


.psychological-fon2 {
  font-family: Roboto;
  font-size: 1.1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: 0.28px;
  color: #262626;
}


.psychological-box {
  background-color: #fcfcfd;
}
.psychological-part1 {
  box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.07);
}
.psychological-header {
  width: 100%;
  height: 8vh;
  background-color: #3a4b5f;
  font-family: Roboto;
  font-size: 1.1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: -0.51px;
  text-align: left;
  color: #ffffff;
  align-items: center;
  padding-left: 4vw;
}

.psychological-list-box {
  border-bottom: solid 1px #dde1eb;
  padding-top: 3.5vh;
  padding-bottom: 4vh;
  background-color: #ffffff;
}

.psychological-progress {
  --progress-background: #1178b4;
  --buffer-background: #eeeff1;
  height: 1.5vh;
  border-radius: 15px;
}

.psychological-imgBox {
  text-align: -webkit-center;
  align-items: center;
  display: grid;
}

ion-progress-bar .progress {
  border-radius: 15px;
}



.psychological-chartCard1 {
  width: 85%;
  height: 30vh;
  margin-left: 10%;
  margin-right: 5%;
  border-radius: 6px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-top: 6vh;
}

.psychological-chartCard2 {
  width: 85%;
  height: 30vh;
  margin-left: 5%;
  margin-right: 10%;
  border-radius: 6px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-top: 6vh;
}

.psychological-chartCard-header {
  height: 25%;
  align-items: center;
  text-align: center;
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.59px;
  color: #3a4b5f;
}

.chartCard-header-color1 {
  color: #44bbc8;
}

.chartCard-header-color2 {
  color: #3a4b5f;
}

.psychological-chartCard-chart-Box {
  height: 55%;
  padding: 2vw;
}


.psychological-chartCard-date {
  height: 20%;
  text-align: center;
  align-items: center;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.42px;
  color: #49535f;
}
