<app-main-header></app-main-header>

<ion-content>
<ion-grid class="psychological-box">
  <ion-row>
    <ion-col>
      <ion-grid class="psychological-part1">
        <ion-row>
          <ion-col>
            <ion-grid>
              <ion-row class="psychological-header">
                <ion-col class="psychological-title">
                  <span>주간 심리</span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        <ion-row class="pd5vw psychological-list-box" *ngFor="let item of surveyList" (click)="getToSubList(item)">
          <ion-col size="10.5">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-grid>
                    <ion-row class="pdB1vh">
                      <ion-col>
                        <span class="psychological-fon1">{{item.surveyCategoryName}}</span>
                      </ion-col>
                      <ion-col class="text_right">
                        <span class="psychological-fon2">{{item.completeCount}} / {{item.totalCount}}</span>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-progress-bar value="{{getPercent(item)}}" class="psychological-progress"></ion-progress-bar>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col size="1.5">
            <ion-grid class="height100Per">
              <ion-row class="height100Per">
                <ion-col class="psychological-imgBox">
                  <img src="assets/image/Icon_arrow_next.svg">
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
<!--  <ion-row class="mgB9vh">
    <ion-col>
      <ion-grid class="psychological-part2">
        <ion-row>
          <ion-col size="6">
            <ion-grid class="psychological-chartCard1">
              <ion-row class="psychological-chartCard-header">
                <ion-col>
                  <span class="chartCard-header-color1">4</span><span class="chartCard-header-color2">주간 심리</span>
                </ion-col>
              </ion-row>
              <ion-row class="psychological-chartCard-chart-Box">
                <ion-col>
                  <canvas #psychologicalScaleChart1 style="height: 100%"></canvas>
                </ion-col>
              </ion-row>
              <ion-row class="psychological-chartCard-date">
                <ion-col>
                  <span>2020.08.01 - 08.29</span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col size="6">
            <ion-grid class="psychological-chartCard2">
              <ion-row class="psychological-chartCard-header">
                <ion-col>
                  <span class="chartCard-header-color1">12</span><span class="chartCard-header-color2">주간 심리</span>
                </ion-col>
              </ion-row>
              <ion-row class="psychological-chartCard-chart-Box">
                <ion-col>
                  <canvas #psychologicalScaleChart2 style="height: 100%"></canvas>
                </ion-col>
              </ion-row>
              <ion-row class="psychological-chartCard-date">
                <ion-col>
                  <span>2020.08.01 - 08.29</span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        <ion-row class="mgB7vh">
          <ion-col size="6">
            <ion-grid class="psychological-chartCard1">
              <ion-row class="psychological-chartCard-header">
                <ion-col>
                  <span class="chartCard-header-color1">26</span><span class="chartCard-header-color2">주간 심리</span>
                </ion-col>
              </ion-row>
              <ion-row class="psychological-chartCard-chart-Box">
                <ion-col>
                  <canvas #psychologicalScaleChart3 style="height: 100%"></canvas>
                </ion-col>
              </ion-row>
              <ion-row class="psychological-chartCard-date">
                <ion-col>
                  <span>2020.08.01 - 08.29</span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col size="6">
            <ion-grid class="psychological-chartCard2">
              <ion-row class="psychological-chartCard-header">
                <ion-col>
                  <span class="chartCard-header-color1">52</span><span class="chartCard-header-color2">주간 심리</span>
                </ion-col>
              </ion-row>
              <ion-row class="psychological-chartCard-chart-Box">
                <ion-col>
                  <canvas #psychologicalScaleChart4 style="height: 100%"></canvas>
                </ion-col>
              </ion-row>
              <ion-row class="psychological-chartCard-date">
                <ion-col>
                  <span>2020.08.01 - 08.29</span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>-->
</ion-grid>
</ion-content>
