.symptom-text {
  font-family: Roboto;
  font-size: 4vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.45px;
  text-align: left;
  color: #7e8da0;
}
.symptom-point1{
  align-items: center;
  display: grid;
  background-color: #eeeff1;
  width: 4vw;
  height: 4vw;
  border-radius: 75px;
  text-align: center;
  font-family: Roboto;
  font-size: 4vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  margin: auto;
}


.symptom-point2{
  align-items: center;
  display: grid;
  background-color: #63e189;
  width: 4vw;
  height: 4vw;
  border-radius: 75px;
  text-align: center;
  font-family: Roboto;
  font-size: 4vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  margin: auto;
}


.symptom-point3{
  align-items: center;
  display: grid;
  background-color: #ffd072;
  width: 4vw;
  height: 4vw;
  border-radius: 75px;
  text-align: center;
  font-family: Roboto;
  font-size: 4vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  margin: auto;
}


.symptom-point4{
  align-items: center;
  display: grid;
  background-color: #ff9f4c;
  width: 4vw;
  height: 4vw;
  border-radius: 75px;
  text-align: center;
  font-family: Roboto;
  font-size: 4vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  margin: auto;
}


.symptom-point5{
  align-items: center;
  display: grid;
  background-color: #ff5d43;
  width: 4vw;
  height: 4vw;
  border-radius: 75px;
  text-align: center;
  font-family: Roboto;
  font-size: 4vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  margin: auto;
}


.symptom-point6{
  align-items: center;
  display: grid;
  background-color: #c41521;
  width: 4vw;
  height: 4vw;
  border-radius: 75px;
  text-align: center;
  font-family: Roboto;
  font-size: 4vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  margin: auto;
}

.symptomInfoModal-footer {
  height: 10%;
  text-align: right;
  padding-left: 5vw;
  padding-right: 5vw;
  align-items: center;
  display: flex;
}

.symptomInfo-list-box {
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 1.5vh;
}
