.findPw-font1 {
  font-family: Roboto;
  font-size: 5.5vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: -1.01px;
  text-align: left;
  color: #333333;
  padding-top: 3vh;
}

.findPw-font2 {
  font-family: Roboto;
  font-size: 4vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.52px;
  text-align: left;
  color: #111111;
  padding-top: 1vh;
}

.findPw-font3 {
  font-family: Roboto;
  font-size: 4.5vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.62px;
  text-align: left;
  color: #2e2e2e;
  padding-top: 2vh;
  padding-bottom: 1vh;
}

.findPw-inputBox {
  width: 100%;
  height: 8.5vh;
  padding: 0 4vw;
  border: solid 1px #d2d5dc;
  background-color: #ffffff;
  border-radius: 4px;
  align-items: center;
  display: flex;
}

.findPw-inputBox-disable {
  border: solid 1px #d2d5dc;
  background-color: #f6f6f6;
}


.findPw-input {
  border: 0;
}

.findPw-input-disable {
  background-color: #f6f6f6;
  color: #c2c2c2;
}

.findPw-input:focus {outline:none;}

.findPw-button1 {
  width: 100%;
  height: 8.5vh;
  background-color: #ecedef;
  align-items: center;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 4.5vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
}

.findPw-button1_active {
  width: 100%;
  height: 8.5vh;
  background-color: #44bbc8;
  align-items: center;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 4.5vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
}

.findPw-timer {
  font-family: Roboto;
  font-size: 4.5vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.48px;
  text-align: right;
  color: #ff3b30;
  align-items: center;
  display: grid;
}


.findPw-chage-box {
  border-radius: 3px;
  border: dashed 2px #d2d5dc;
  margin-top: 2vh;
  padding: 0 3vw;
}

.errorMessage {
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.48px;
  text-align: left;
  color: #ff3b30;
}


