.panicDiaryInput {
  align-items: center;
  width: 100%;
  height: 8vh;
  border-radius: 4px;
  border: solid 1px #d2d5dc;
  background-color: #ffffff;
  margin-top: 3vw;
  padding: 0 5vw;
}
.panicSymptomPick{
  width: 100%;
  height: 8vh;
  border-radius: 4px;
  border: solid 1px #28a1ae;
  background-color: #effdff;
  margin-top: 3vw;
  padding: 0 5vw;
  color: #28a1ae;
}
.panicDiaryAddBtn{
  width: 100%;
  height: 8vh;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
}
.addOkBtn{
  background-color: #44bbc8;
}
.addNoBtn{
  background-color: #dbdde2;
}

.border-bottom{
  border-bottom: 1px solid #eaebef;
}

.diaryCountColor{
  font-weight: bold;
  font-size: 1.375rem;
  color: #44bbc8;
}
.panicCount {
  text-align: center;
  line-height: 20vw;
  border-right: 1px solid #eaebef;
}
.panicDetailBox{
  margin: 6vw 5vw;
  border-radius: 12px;
  box-shadow: 0 3px 7px 0 rgba(72, 74, 82, 0.16);
  background-color: #ffffff;
}
.panicDetailText{
  font-family: Roboto;
  font-size: 16px;
  color: #262626;
  align-items: center;
  display: flex;
}
.symtomListBox{
  word-break: normal;
  line-height: 2.6;
}
.symtomText{
  color: #3a4b5f;
  background-color: #f0f7ff;
  border-radius: 4px;
}

.panic-border-right{
  border-right: 1px solid #eeeff1;
}
.panic-border-bottom{
  border-bottom: 1px solid #eeeff1;
}
.button-display-none{
  border: none;
  background-color: #44bbc8;
}



